<% title "Funabiki Online - 楽天市・出荷表" %>

<div class="container manifest_index">
	<div class="row align-middle">
		<div class="col">
<% if current_user.admin? || current_user.vip? %>
			<div class="btn-group float-right" role="group" aria-label="Basic">
				<%= link_to icon('plus-circle-fill', class: 'text-success'), new_r_manifest_path, :class => "btn btn-info tippy", "data-tippy-content" => "<center>新しいデータを<br>取込む</center>" %>
			</div>
<% end %> 
		<hr/>

			<h1>楽天・出荷表</h1>
			
		</div>
	</div>
	
	<hr/>

	<div class="row rowhead">
			<div class="col-md-3 col-sm-12 right-border text-center">
				<strong><h4>発送日</h4></strong>
			</div>
			<div class="col-md-1 col-sm-12">
				<strong>むき身</strong>
			</div>
			<div class="col-md-1 col-sm-12">
				<strong>セル</strong>
			</div>
			<div class="col-md-1 col-sm-12">
				<strong>デカプリ</strong>
			</div>
			<div class="col-md-1 col-sm-12">
				<strong>穴子</strong>
			</div>
			<div class="col-md-1 col-sm-12 right-border">
				<strong>干しエビ</strong>
			</div>
			<div class="col-md-4 col-sm-12 text-center">
				<strong><h4>操作</h4></strong>
			</div>
	</div>
	<% @r_manifests.order(sales_date: :desc).each do |r_manifest| %>
		<% counts = r_manifest.new_order_counts %>
		<div class="row small <%= cycle_table_rows %> <%= if today_warn(r_manifest) then 'bg-warning' end %>">
			<div class="col-md-3 col-sm-12 clearfix right-border text-center">
				<<%= if today_warn(r_manifest) then 'h4' else 'h5' end %>> 
					<%= r_manifest.sales_date %>
				<span class="float-right">
					<b><%= if !r_manifest.new_orders_hash.nil? then r_manifest.new_orders_hash.length end %></b>件
				</span>
				</<%= if today_warn(r_manifest) then 'h4' else 'h5' end %>>
			</div>
			<div class="col-md-1 col-sm-12">
				<%= if counts[:mizukiri] > 0 then ('<h6><b>').html_safe + counts[:mizukiri].to_s + ('<small>パック</small></b></h6>').html_safe end %>
			</div>
			<div class="col-md-1 col-sm-12">
				<%= ("<b>#{counts[:shells].to_s}<small>個</small></b> #{'・' unless counts[:barakara].zero?}").html_safe if (counts[:shells] > 0) %> 
				<%= ("<b>#{counts[:barakara].to_s}<small>㎏</small></b>").html_safe if (counts[:barakara] > 0) %> 
			</div>
			<div class="col-md-1 col-sm-12">
				<%= if counts[:dekapuri] > 0 then ('<b>').html_safe + counts[:dekapuri].to_s + ('<small>パック</small></b>').html_safe end %>
			</div>
			<div class="col-md-1 col-sm-12">
				<%= if counts[:anago] > 0 then ('<b>').html_safe + counts[:anago].to_s + ('<small>件</small></b>').html_safe end %>
			</div>
			<div class="col-md-1 col-sm-12 right-border">
				<%= if counts[:ebi] > 0 then ('<b>').html_safe + counts[:ebi].to_s + ('<small>件</small></b>').html_safe end %>
			</div>
			<div class="col-md-4 col-sm-12 text-center">
				<div class="btn-group">
					<%= link_to icon("card-list"), r_manifest, :alt => "個別ページ", class: 'btn btn-info tippy', "data-tippy-content" => "<center>#{r_manifest.sales_date}の<br>個別ページ</center>" %>
					<%= link_to icon("file-earmark-arrow-down"), generate_rakuten_pdf_path(id: r_manifest.id, seperated: 0, include_yahoo: 0), :method => :get, remote: true, class: 'btn btn-info tippy', "data-tippy-content" => "<center>#{r_manifest.sales_date}の<br>出荷表PDFを作成</center>" %>
					<%= link_to icon("file-earmark-diff"), generate_rakuten_pdf_path(id: r_manifest.id, seperated: 0, include_yahoo: 1), :method => :get, remote: true, class: 'btn btn-info tippy', "data-tippy-content" => "<center>#{r_manifest.sales_date}の<br>楽天とヤフーの<br>出荷表PDFを作成</center>" %>
					<%= link_to icon("file-earmark-ruled"), generate_rakuten_pdf_path(id: r_manifest.id, seperated: 1, include_yahoo: 0), :method => :get, remote: true, class: 'btn btn-info tippy', "data-tippy-content" => "<center>#{r_manifest.sales_date}の<br>商品分別した<br>出荷表PDFを作成</center>" %>
					<%= link_to icon("arrow-counterclockwise", class: "text-success"), edit_r_manifest_path(r_manifest), :alt => "データを編集", class: 'btn btn-info tippy', "data-tippy-content" => "<center>#{r_manifest.sales_date}の<br>データを取込む</center>" %>
				</div>
			</div>
		</div>
	<% end %>
	<%= will_paginate @r_manifests %>
</div>