<% title "Funabiki Online - 楽天市・出荷表" %>

<div class="container manifest_index">
	<div class="row align-middle">
		<div class="col">
<% if current_user.admin? || current_user.vip? %>
			<div class="btn-group float-right" role="group" aria-label="Basic">
				<%= link_to '追加', new_r_manifest_path, :class => "btn btn-success" %>
			</div>
<% end %> 
		<hr/>

			<h1>楽天・出荷表</h1>
			
		</div>
	</div>
	
	<hr/>

	<div class="row rowhead">
			<div class="col-md-3 col-sm-12 right-border text-center">
				<strong><h4>発送日</h4></strong>
			</div>
			<div class="col-md-1 col-sm-12">
				<strong>むき身</strong>
			</div>
			<div class="col-md-1 col-sm-12">
				<strong>セル</strong>
			</div>
			<div class="col-md-1 col-sm-12">
				<strong>デカプリ</strong>
			</div>
			<div class="col-md-1 col-sm-12">
				<strong>穴子</strong>
			</div>
			<div class="col-md-1 col-sm-12 right-border">
				<strong>干しエビ</strong>
			</div>
			<div class="col-md-4 col-sm-12 text-center">
				<strong><h4>操作</h4></strong>
			</div>
	</div>
	<% cache @r_manifests do %>
	<% @r_manifests.order(sales_date: :desc).each do |r_manifest| %>
	<% counts = r_manifest.new_order_counts %>
	<div class="row small <%= cycle_table_rows %> <%= if today_warn(r_manifest) then 'bg-warning' end %>">
			<div class="col-md-3 col-sm-12 clearfix right-border text-center">
				<<%= if today_warn(r_manifest) then 'h4' else 'h5' end %>> 
					<%= r_manifest.sales_date %>
				<span class="float-right">
					<b><%= if !r_manifest.new_orders_hash.nil? then r_manifest.new_orders_hash.length end %></b>件
				</span>
				</<%= if today_warn(r_manifest) then 'h4' else 'h5' end %>>
			</div>
			<div class="col-md-1 col-sm-12">
				<%= if counts[:mizukiri] > 0 then ('<h6><b>').html_safe + counts[:mizukiri].to_s + ('<small>パック</small></b></h6>').html_safe end %>
			</div>
			<div class="col-md-1 col-sm-12">
				<%= if counts[:shells] > 0 then ('<h6><b>').html_safe + counts[:shells].to_s + ('<small>個</small></b></h6>').html_safe end %>
			</div>
			<div class="col-md-1 col-sm-12">
				<%= if counts[:dekapuri] > 0 then ('<b>').html_safe + counts[:dekapuri].to_s + ('<small>パック</small></b>').html_safe end %>
			</div>
			<div class="col-md-1 col-sm-12">
				<%= if counts[:anago] > 0 then ('<b>').html_safe + counts[:anago].to_s + ('<small>件</small></b>').html_safe end %>
			</div>
			<div class="col-md-1 col-sm-12 right-border">
				<%= if counts[:ebi] > 0 then ('<b>').html_safe + counts[:ebi].to_s + ('<small>件</small></b>').html_safe end %>
			</div>
			<div class="col-md-4 col-sm-12 text-center">
				<div class="btn-group">
					<%= link_to icon("card-list"), r_manifest, :alt => "個別ページ", class: 'btn btn-info' %>
					<%= link_to icon("file-earmark-arrow-down"), r_manifest_new_pdf_path(r_manifest), :method => :get, class: 'btn btn-info' %>
					<%= link_to icon("file-earmark-ruled"), r_manifest_seperated_pdf_path(r_manifest), :method => :get, class: 'btn btn-info' %>
					<% if current_user.admin? || current_user.vip? %>
						<%= link_to icon("arrow-counterclockwise", class: "text-success"), edit_r_manifest_path(r_manifest), :alt => "データを編集", class: 'btn btn-info' %>
						<%= button_to r_manifest, method: :delete, data: { confirm: '削除しますか?' }, :disabled => !current_user.admin?, form_class: 'btn btn-info', class: 'blank_button' do %>
							<%= icon("trash-fill", class: "text-danger") %>
						<% end %>
					<% end %>
				</div>
			</div>
	</div>
	<% end %>
	<% end %>
	<%= will_paginate @r_manifests %>
</div>