<% title "Funabiki Online - 楽天市・出荷表 " + @r_manifest.sales_date %>

<% if @rakuten_shinki %>
	<div class="modal fade" id="rakuten_shinki_modal" tabindex="-1" aria-labelledby="rakuten_shinki_modal_label" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="rakuten_shinki_modal_label">楽天市場の新規（日付無し）注文</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
						<div class="row bg-info text-white p-3 m-1 h5">
							<div class="col-lg-2 col-md-6 col-sm-12">
								注文番号
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								注文者・届け先
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								届け県
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								届日設定
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								商品
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								メモ
							</div>
						</div>
					<% @rakuten_shinki.flatten.each do |order| %>
						<div class="row ml-1 mr-1 <%= cycle_table_rows %>">
							<div class="col-lg-2 col-md-6 col-sm-12 small">
								<% id = order["orderNumber"].gsub('274763-', '') %>
								<a href="<%= rakuten_order_link(id) %>"><%= id %></a>
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								<%= order["OrdererModel"]["familyName"] + order["OrdererModel"]["firstName"] %> ・
								<% order["PackageModelList"].each do |package| %>
									<%= package["SenderModel"]["familyName"] if package["SenderModel"]["familyName"] %>
									<%= package["SenderModel"]["firstName"] if package["SenderModel"]["firstName"] %>
								<% end %>
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								<% order["PackageModelList"].each do |package| %>
									<%= package["SenderModel"]["prefecture"] %>
								<% end %>
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								<% if order["deliveryDate"] %>
									<%= order["deliveryDate"] %>
								<% else %>
									<% order["PackageModelList"].each do |package| %>
										<% package["ShippingModelList"].each do |item| %>
											<%= item["shippingDate"] ? item["shippingDate"] : '指定日無し' %>
										<% end %>
									<% end %>
								<% end %>
							</div>
							<div class="col-lg-2 col-md-6 col-sm-12">
								<% order["PackageModelList"].each do |package| %>
									<% package["ItemModelList"].each do |item| %>
										<%= rakuten_item_id_to_nickname(item["manageNumber"]) %><%= "× #{item["units"]}" if (item["units"].to_i > 1) %>
									<% end %>
								<% end %>
							</div>
							<div class="col-lg-2 col-md-6">
								<%= order["memo"] %><br>
								<%= order["remarks"].scan(/(?<=\[メッセージ添付希望・他ご意見、ご要望がありましたらこちらまで:\]).*/m).first.gsub(/\n/, '') %>
							</div>
						</div>
					<% end %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class="modal fade" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="receiptModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="receiptModalLabel">領収証</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="receipt_card" class="card h-100">
				<div class="card-body text-center">
					<div id="receipt_partial">
						<% @rakuten = @r_manifest %>
						<%= render 'welcome/receipt', remote: true, locals: {rakuten: @rakuten, order: @order_id} %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="noshiModal" tabindex="-1" role="dialog" aria-labelledby="noshiModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="noshiModalLabel">熨斗作成</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="noshi_partial">
				<%= render :partial => 'noshis/form', locals: { noshi: @noshi } %>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row align-middle d-print-none">
		<div class="col">
			<div class="btn-group float-right d-print-none" role="group" aria-label="Basic">
				<%= link_to icon("arrow-left-circle"), @r_manifest.r_manifest_query.previous, class: 'btn btn-info tippy', "data-tippy-content" => "<center>#{@r_manifest.r_manifest_query.previous.sales_date}の<br>データを見る</center>" %>
				<%= link_to icon("arrow-right-circle"), @r_manifest.r_manifest_query.next, class: 'btn btn-info tippy', "data-tippy-content" => "<center>#{@r_manifest.r_manifest_query.next.sales_date}の<br>データを見る</center>" %>
				<%= link_to icon("arrow-counterclockwise", class: "text-success"), edit_r_manifest_path(@r_manifest), class: 'btn btn-info tippy', "data-tippy-content" => "<center>#{@r_manifest.sales_date}の<br>データを取込む</center>" %>
				<%= link_to icon('arrow-90deg-up'), r_manifests_path, class: 'btn btn-info tippy', "data-tippy-content" => "楽天出荷表トップへ" %>
			</div>
		<hr/>

			<h1 class="d-print-none"><%= @r_manifest.sales_date %></h1>
		</div>
	</div>
	<div class="btn-group float-right mt-n2" role="group" aria-label="Basic">
		<% if @rakuten_shinki %>
			<span class="btn btn-sm btn-info m-0 p-0 tippy" data-tippy-content="楽天新規注文">
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#rakuten_shinki_modal">
					<%= icon("asterisk", class: 'text-white') %><span class="badge badge-warning ml-1"><%= @rakuten_shinki.length %></span>
				</button>
			</span>
		<% end %>
		<span class="btn btn-sm btn-info m-0 p-0 tippy" data-tippy-content="<center><%= @r_manifest.sales_date %>の<br>出荷個別ページ</center>">
			<%= link_to icon("card-list", class: 'text-white'), @rakuten, :alt => "個別ページ", class: 'btn btn-info', 'data-turbolinks' => "false" %>
		</span>
		<span class="btn btn-sm btn-info m-0 p-0 tippy" data-tippy-content="<center><%= @r_manifest.sales_date %>の<br>楽天データを取込む</center>">
			<%= link_to icon("arrow-counterclockwise", class: "text-success"), edit_r_manifest_path(@rakuten), :alt => "データ更新", class: 'btn btn-info', 'data-turbolinks' => "false" %>
		</span>
		<span class="btn btn-sm btn-info m-0 p-0 tippy load" data-tippy-content="<center><%= @r_manifest.sales_date %>の<br>出荷表PDFを作成</center>">
			<%= link_to icon("file-earmark-arrow-down", class: 'text-white'), generate_rakuten_pdf_path(id: @r_manifest.id, seperated: 0, include_yahoo: 0), class: 'btn btn-info', remote: true, 'data-turbolinks' => "false" %>
		</span>
		<span class="btn btn-sm btn-info m-0 p-0 tippy load" data-tippy-content="<center><%= @r_manifest.sales_date %>の<br>楽天とヤフーの<br>出荷表PDFを作成</center>">
			<%= link_to icon("file-earmark-diff", class: 'text-white'), generate_rakuten_pdf_path(id: @r_manifest.id, seperated: 0, include_yahoo: 1), class: 'btn btn-info', remote: true, 'data-turbolinks' => "false" %>
		</span>
		<span class="btn btn-sm btn-info m-0 p-0 tippy load" data-tippy-content="<center><%= @r_manifest.sales_date %>の<br>商品分別した<br>出荷表PDFを作成</center>">
			<%= link_to icon("file-earmark-ruled", class: 'text-white'), generate_rakuten_pdf_path(id: @r_manifest.id, seperated: 1, include_yahoo: 0), class: 'btn btn-info', remote: true, 'data-turbolinks' => "false" %>
		</span>
	</div>

	<hr/><br>

	<% if !@r_manifest.new_orders_hash.nil? %>
		<% counts = @r_manifest.new_order_counts %>
		<% work_totals = @r_manifest.prep_work_totals %>
		<div class="row mb-1">
			<div class="btn-group w-100" role="group">
				<div class="btn col btn-light d-block mb-1 strong">
					<h6>むき身</h6>
					<span class="badge badge-<%= counts[:mizukiri] > 0 ? 'info' : 'light' %> w-100">
						<%= if counts[:mizukiri] > 0 then ('<b>').html_safe + counts[:mizukiri].to_s + ('<small>パック</small></b>').html_safe else ('　') end %>
					</span>
				</div>
				<div class="btn col btn-light d-block mb-1 strong"  data-tippy-content="大セル・小セル・セルカード">
					<h6>セル</h6>
					<span class="badge badge-<%= counts[:shells] > 0 ? 'info' : 'light' %> w-100">
						<%=  ("<b>#{counts[:shells].to_s}<small>個</small></b> ・ ").html_safe if (counts[:shells] > 0) %>
						<%=  ("<b>#{counts[:barakara].to_s}<small>㎏</small></b> ・ ").html_safe if (counts[:barakara] > 0) %>
						<%= (('<b>').html_safe + work_totals[:shell_cards].to_s + ('<small>枚</small></b>').html_safe) if (work_totals[:shell_cards] > 0) %>
					</span>
				</div>
				<div class="btn col btn-light d-block mb-1 strong">
					<h6>デカプリ</h6>
					<span class="badge badge-<%= counts[:dekapuri] > 0 ? 'info' : 'light' %> w-100">
						<%= if counts[:dekapuri] > 0 then ('<b>').html_safe + counts[:dekapuri].to_s + ('<small>パック</small></b>').html_safe else ('　') end %>
					</span>
				</div>
				<div class="btn col btn-light d-block mb-1 strong">
					<h6>冷凍セル</h6>
					<span class="badge badge-<%= counts[:reitou_shells] > 0 ? 'info' : 'light' %> w-100">
						<%= if counts[:reitou_shells] > 0 then ('<b>').html_safe + counts[:reitou_shells].to_s + ('<small>個</small></b>').html_safe else ('　') end %>
					</span>
				</div>
				<div class="btn col btn-light d-block mb-1 strong">
					<h6>穴子</h6>
					<span class="badge badge-<%= counts[:tako] > 0 ? 'info' : 'light' %> w-100">
						<%= if counts[:tako] > 0 then ('<b>').html_safe + counts[:tako].to_s + ('<small>件</small></b>').html_safe else ('　') end %>
					</span>
				</div>
				<div class="btn col btn-light d-block mb-1 strong">
					<h6>タコ</h6>
					<span class="badge badge-<%= counts[:anago] > 0 ? 'info' : 'light' %> w-100">
						<%= if counts[:anago] > 0 then ('<b>').html_safe + counts[:anago].to_s + ('<small>件</small></b>').html_safe else ('　') end %>
					</span>
				</div>
				<div class="btn col btn-light d-block mb-1 strong">
					<h6>干しエビ</h6>
					<span class="badge badge-<%= counts[:ebi] > 0 ? 'info' : 'light' %> w-100">
						<%= if counts[:ebi] > 0 then ('<b>').html_safe + counts[:ebi].to_s + ('<small>件</small></b>').html_safe else ('　') end %>
					</span>
				</div>
				<div class="btn col btn-light d-block mb-1 strong">
					<h6>ナイフ</h6>
					<span class="badge badge-<%= work_totals[:knife_count] > 0 ? 'info' : 'light' %> w-100">
						<%= if work_totals[:knife_count] > 0 then ('<b>').html_safe + work_totals[:knife_count].to_s + ('<small>個</small></b>').html_safe else ('　') end %>
					</span>
				</div>
			</div>
		</div>
		<% if rakuten_raw_oysters?(work_totals) %>
			<div class="row mb-3">
				<div class="col-xl-5 col-lg-12 text-center border">
					<div class="col-12">
						<b>むき身牡蠣500g</b>
					</div>
					<div class="row border-bottom small font-weight-light font-italic">
						<div class="col-3">
							1p
						</div>
						<div class="col-3">
							2p
						</div>
						<div class="col-3">
							3p
						</div>
						<div class="col-3">
							4p
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<%= work_totals[:product_counts][:mizukiri][1] %>
						</div>
						<div class="col-3">
							<%= work_totals[:product_counts][:mizukiri][2] %>
						</div>
						<div class="col-3">
							<%= work_totals[:product_counts][:mizukiri][3] %>
						</div>
						<div class="col-3">
							<%= work_totals[:product_counts][:mizukiri][4] %>
						</div>
					</div>
				</div>
				<div class="col-xl-7 col-lg-12 text-center border">
					<div class="col-12">
						<b>むき身牡蠣500g + 殻付き</b>
					</div>
					<div class="row border-bottom small font-weight-light font-italic d-flex justify-content-center">
						<div class="col">
							10個＋１p
						</div>
						<div class="col">
							20個＋１p
						</div>
						<div class="col">
							30個＋１p
						</div>
						<div class="col">
							20個＋2p
						</div>
						<div class="col">
							30個＋2p
						</div>
					</div>
					<div class="row d-flex justify-content-center">
						<div class="col">
							<%= work_totals[:product_counts][:sets][101] %>
						</div>
						<div class="col">
							<%= work_totals[:product_counts][:sets][201] %>
						</div>
						<div class="col">
							<%= work_totals[:product_counts][:sets][301] %>
						</div>
						<div class="col">
							<%= work_totals[:product_counts][:sets][202] %>
						</div>
						<div class="col">
							<%= work_totals[:product_counts][:sets][302] %>
						</div>
					</div>
				</div>
				<div class="col-xl-5 col-lg-12 text-center border">
					<div class="col-12">
						<b>小 殻付き</b>
					</div>
					<div class="row border-bottom small font-weight-light font-italic">
						<div class="col-3">
							1㎏
						</div>
						<div class="col-3">
							2㎏
						</div>
						<div class="col-3">
							3㎏
						</div>
						<div class="col-3">
							4㎏
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<%= work_totals[:product_counts][:barakara][1] %>
						</div>
						<div class="col-3">
							<%= work_totals[:product_counts][:barakara][2] %>
						</div>
						<div class="col-3">
							<%= work_totals[:product_counts][:barakara][3] %>
						</div>
						<div class="col-3">
							<%= work_totals[:product_counts][:barakara][4] %>
						</div>
					</div>
				</div>
				<div class="col-xl-7 col-lg-12 text-center border">
					<div class="col-12">
						<b>殻付き牡蠣</b>
					</div>
					<div class="row border-bottom small font-weight-light font-italic">
						<div class="col-2">
							10個
						</div>
						<div class="col-2">
							20個
						</div>
						<div class="col-2">
							30個
						</div>
						<div class="col-2">
							40個
						</div>
						<div class="col-2">
							50個
						</div>
						<div class="col-2">
							100個
						</div>
					</div>
					<div class="row">
						<div class="col-2">
							<%= work_totals[:product_counts][:shells][10] %>
						</div>
						<div class="col-2">
							<%= work_totals[:product_counts][:shells][20] %>
						</div>
						<div class="col-2">
							<%= work_totals[:product_counts][:shells][30] %>
						</div>
						<div class="col-2">
							<%= work_totals[:product_counts][:shells][40] %>
						</div>
						<div class="col-2">
							<%= work_totals[:product_counts][:shells][50] %>
						</div>
						<div class="col-2">
							<%= work_totals[:product_counts][:shells][100] %>
						</div>
					</div>
				</div>
			</div>
		<% end %>

		<div class="row small rakuten_orders_list">
			<div class="w-100">
				<h1 class="manifest_header d-none d-print-block"><%= @r_manifest.sales_date %></h1>
				<table class="table orders_table table-striped table-sm table-bordered d-print-table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">注文者</th>
							<th scope="col">お届け先</th>
							<th scope="col">500g</th>
							<th scope="col">セル</th>
							<th scope="col">セット</th>
							<th scope="col">その他</th>
							<th scope="col">お届け指定日</th>
							<th scope="col">時間指定</th>
							<th scope="col">ナイフ</th>
							<th scope="col">のし</th>
							<th scope="col">領収証</th>
							<th scope="col">備考</th>
						</tr>
					</thead>
					<tbody>
						<% @r_manifest.new_orders_hash.reverse.each_with_index do |order, i| %>
							<% recipients = order_shipping_numbers_link(order) %>
							<% alert = recipients_alert(recipients) %>
							<% if alert %><tr class="alert-danger tippy" data-tippy-placement="left" data-tippy-content="伝票番号がない"><% else %><tr><% end %>
								<th scope="row">
									<%= i + 1 %>
									<div class="float-right">
										<%= (order[:payment_method] == "代金引換") ? (('<i class="far fa-money-bill-alt"></i>').html_safe) : () %>
										<%= (order[:payment_method] == "クレジットカード") ? (('<i class="fas fa-credit-card"></i>').html_safe) : () %>
										<%= (order[:payment_method] == "セブンイレブン（前払）") ? (('<i class="fas fa-store-alt"></i>').html_safe) : () %>
										<%= (order[:payment_method] == "ローソン、郵便局ATM等（前払）") ? (('<i class="fas fa-store-alt"></i>').html_safe) : () %>
										<%= (order[:payment_method] == "銀行振込") ? (('<i class="fas fa-university"></i>').html_safe) : () %>
									</div>
								</th>
								<td scope="col">
									<% sender_name = order[:sender]['familyName'] + ' ' + order[:sender]['firstName'] %>
									<a href="<%= order_link(order) %>" target="_blank"><%= sender_name %></a>
								</td>
								<td scope="col">
									<% recipients.each do |k, v| %>
										<a href="<%= v %>" target="_blank"><%= k %></a>
										<%= (recipients.length > 1) ? ('<br>').html_safe : () %>
									<% end %>
								</td>
								<td scope="col">
									<% if !order[:mizukiri][:amount].nil? %>
										<% order[:mizukiri][:amount].each_with_index do |amount, i| %>
											<% if i > 0 %> <br> <% end %>
											<%= amount %>
											<% count = order[:mizukiri][:count].shift %>
											<% if count > 1 %>
												<%= '× ' + count.to_s %>
											<% end %>
										<% end %>
									<% end %>
								</td>
								<td scope="col">
									<% if !order[:shells][:amount].nil? %>
										<% order[:shells][:amount].each_with_index do |amount, i| %>
											<% if i > 0 %> <br> <% end %>
											<%= amount %>個
											<% count = order[:shells][:count].shift %>
											<% if count > 1 %>
												<%= '× ' + count.to_s %>
											<% end %>
											<%= ("<br>").html_safe if !order[:barakara][:amount].nil? %>
										<% end %>
									<% end %>
									<% if !order[:barakara][:amount].nil? %>
										<% order[:barakara][:amount].each_with_index do |amount, i| %>
											<% if i > 0 %> <br> <% end %>
											<%= amount %>㎏
											<% count = order[:barakara][:count].shift %>
											<% if count > 1 %>
												<%= '× ' + count.to_s %>
											<% end %>
										<% end %>
									<% end %>
								</td>
								<td scope="col">
									<% if !order[:sets][:amount].nil? %>
										<% order[:sets][:amount].each_with_index do |amount, i| %>
											<% if i > 0 %><br><% end %>
											<%= '500g×' + amount.to_s.scan(/\d(?!.*\d)/).first + ' + ' + amount.to_s.scan(/\d{2}/).first + '個' %>
											<% count = order[:sets][:count].shift %>
											<% if count > 1 %>
												<%= '× ' + count.to_s %>
											<% end %>
										<% end %>
									<% end %>
								</td>
								<td scope="col">
									<% unless order[:tako].nil? || order[:tako][:amount].nil? %>
										<% order[:tako][:amount].each_with_index do |amount, i| %>
											<% if i > 0 %> <br> <% end %>
											ボイルたこ (~1㎏) × <%= amount %>
											<% count = order[:tako][:count].shift %>
											<% if count > 1 %>
												<%= '× ' + count.to_s %>
											<% end %>
										<% end %>
									<% end %>
									<% if !order[:karaebi80g][:amount].nil? %>
										<% order[:karaebi80g][:amount].each_with_index do |amount, i| %>
											<% if i > 0 %> <br> <% end %>
											干しエビ（殻付き） 80g × <%= amount %>
											<% count = order[:karaebi80g][:count].shift %>
											<% if count > 1 %>
												<%= '× ' + count.to_s %>
											<% end %>
										<% end %>
									<% end %>
									<% if !order[:mukiebi80g][:amount].nil? %>
										<% order[:mukiebi80g][:amount].each_with_index do |amount, i| %>
											<% if i > 0 %> <br> <% end %>
											干しエビ（むき身） 80g × <%= amount %>
											<% count = order[:mukiebi80g][:count].shift %>
											<% if count > 1 %>
												<%= '× ' + count.to_s %>
											<% end %>
										<% end %>
									<% end %>
									<% if !order[:anago][:amount].nil? %>
										<% order[:anago][:amount].each_with_index do |amount, i| %>
											<% if i > 0 %> <br> <% end %>
											穴子　<%= amount %>g
											<% count = order[:anago][:count].shift %>
											<% if count > 1 %>
												<%= '× ' + count.to_s %>
											<% end %>
										<% end %>
									<% end %>
									<% if !order[:dekapuri][:amount].nil? %>
										<% order[:dekapuri][:amount].each_with_index do |amount, i| %>
											<% if i > 0 %> <br> <% end %>
											冷凍500g × <%= amount %>
											<% count = order[:dekapuri][:count].shift %>
											<% if count > 1 %>
												<%= '× ' + count.to_s %>
											<% end %>
										<% end %>
									<% end %>
									<% if !order[:reitou_shell][:amount].nil? %>
										<% order[:reitou_shell][:amount].each_with_index do |amount, i| %>
											<% if i > 0 %> <br> <% end %>
											冷凍セル<%= amount %>個
											<% count = order[:reitou_shell][:count].shift %>
											<% if count > 1 %>
												<%= '× ' + count.to_s %>
											<% end %>
										<% end %>
									<% end %>
									<% if !order[:kakita][:amount].nil? %>
										<% order[:kakita][:amount].each_with_index do |amount, i| %>
											<% if i > 0 %> <br> <% end %>
											カキータ × <%= amount %>
											<% count = order[:kakita][:count].shift %>
											<% if count > 1 %>
												<%= '× ' + count.to_s %>
											<% end %>
										<% end %>
									<% end %>
								</td>
								<td scope="col" <%= if order[:arrival_date] != (DateTime.strptime(@r_manifest.sales_date, '%Y年%m月%d日') + 1).strftime('%Y-%m-%d') then ('class="table-danger"').html_safe end %>>
									<small>
										<%= order[:arrival_date] %>
									</small>
								</td>
								<td scope="col">
									<%= order[:arrival_time] %>
								</td>
								<td scope="col" <%= if !order[:knife][:amount][0].nil? then ('class="table-warning"').html_safe elsif ( (!order[:knife][:amount][0].nil?) && (order[:knife][:added] == false) ) then ('class="table-danger"').html_safe end %>>
									<% knife_count = 0 %>
									<% if !order[:knife][:amount].nil? %>
										<% order[:knife][:amount].each_with_index do |amount, i| %>
											<% knife_count += order[:knife][:count][i] %>
										<% end %>
									<% end %>
									<%= if knife_count > 0 then knife_count.to_s end %>
								</td>
								<% remarks = order[:remarks].scan(/(?<=\[メッセージ添付希望・他ご意見、ご要望がありましたらこちらまで:\]).*/m).first %>
								<% if order[:notes].nil? then notes = '' else notes = order[:notes] end %>
								<td scope="col" <%=  ('class="table-warning"').html_safe if order[:noshi] %>>
									<%= link_to((sender_name + icon('box-arrow-in-up-right')).html_safe, insert_noshi_data_path(namae: order[:sender]['familyName'], ntype: '13'), remote: true, "data-toggle" => "modal", "data-target" => "#noshiModal") if order[:noshi] %>
								</td>
								<td scope="col" <%= if !order[:receipt].nil? || remarks.include?('領収') || notes.include?('領収') then ('class="table-warning"').html_safe end %>>
									<% if !order[:receipt].nil? || remarks.include?('領収') || notes.include?('領収') %>
										<%= link_to ('領収証 <i class="fas fa-level-up-alt"></i>').html_safe, insert_receipt_data_path(rakuten: @rakuten, order_id: i, oysis: true, sales_date: DateTime.strptime(order[:arrival_date], '%Y-%m-%d').strftime('%Y年%m月%d日') ), remote: true, class: 'receipt_link', 'data-toggle' => 'modal', 'data-target' => '#receiptModal' %>
									<% end %>
								</td>
								<td class="notes" scope="col">
									<small>
										<% if !order[:notes].nil? %>
											<em><%= notes %><br></em>
										<% end %>
										<%= remarks %>
										<% if order[:payment_method] == "代金引換" %>
											<br><span class="text-danger">代引：￥<%= order[:charged_cost] %></span>
										<% end %>
									</small>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	<% end %>
</div>
