<% if !@daily_orders.empty? %>
	<div class="clearfix mb-2">
		<h2 class="float-left"><%= @search_date.day %>日</h2>
		<%= link_to("出荷データ(CSV)", yahoo_csv_path(ship_date: @search_date), class: "btn btn-primary float-right ml-2", data: {turbolinks: false}) %>
		<%= link_to("出荷データ(XLS)", yahoo_spreadsheet_path(ship_date: @search_date), class: "btn btn-primary float-right ml-2", data: {turbolinks: false}) %>
		<%= link_to("発送表", yahoo_shipping_list_path(ship_date: @search_date), class: "btn btn-primary float-right ml-2") %>
	</div>
	<table class="table table-sm">
		<thead>
			<tr class="table-dark">
				<th>
					<div class="btn btn-light mr-3">ヤフー注文ID</div><span class="badge badge-secondary">現在の注文ステータス</span>
				</th>
				<th>注文者</th>
				<th>送り先</th>
				<th>出荷ステータス</th>
			</tr>
			<tr class="table-dark">
				<th colspan="4">
					注文明細
				</th>
			</tr>
		</thead>
		<tbody>
			<% @daily_orders.each do |order| %>
				<% unless order.order_status(false) == 4 %>
					<tr class="table-<%= status_color(order) %>">
						<th>
							<%= link_to(order.order_id[/\d.*/], order.url, class: "btn btn-primary mr-3", target: "_blank") %><span class="badge badge-<%= status_color(order) %>"><%= order.order_status %></span>
						</th>
						<th>
							<%= order.billing_name %>
						</th>
						<th>
							<%= print_shipping_name(order) %>
						</th>
						<th>
							<span class="badge badge-primary"><%= order.shipping_status %></span>
						</th>
					</tr>
					<tr>
						<td colspan="3" class="pl-3">
							<%= order.item_name %><%= order.print_quantity %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% else %>
	<h2><%= @search_date.day %>日</h2>
	今日の発送はない。
<% end %>