<% if @invoice.start_date %>
	<div class="modal-body">
		<div class="card">
			<div class="card-header text-center">
				<h5 class="float-left">
					<%= invoice_display_date(@invoice) %>
				</h5>
				<span class="float-right">
					<%= icon('calendar-range') %>
				</span>
			</div>
			<div class="card-body">
				<% if @invoice.id %>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">場所</th>
								<th scope="col">フォーマット</th>
								<th scope="col">PDFリンク</th>
								<th scope="col">PDFパスワード</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">坂越</th>
								<td>まとめ</td>
								<td><%= link_to (@invoice.data[:processing] ? '<i class="fas fa-spinner"></i>' : '<i class="far fa-file-pdf"></i>').html_safe, @invoice.sakoshi_all_pdf.url, target: '_blank', class: 'btn btn-sm btn-info ' + (@invoice.data[:processing] ? 'disabled' : '') %></td>
								<td><samp><%= @invoice[:data][:passwords]["sakoshi_all_password"] %></samp></td>
							</tr>
							<tr>
								<th scope="row">坂越</th>
								<td>各生産者</td>
								<td><%= link_to (@invoice.data[:processing] ? '<i class="fas fa-spinner"></i>' : '<i class="far fa-file-pdf"></i>').html_safe, @invoice.sakoshi_seperated_pdf.url, target: '_blank', class: 'btn btn-sm btn-info ' + (@invoice.data[:processing] ? 'disabled' : '') %></td>
								<td><samp><%= @invoice[:data][:passwords]["sakoshi_seperated_password"] %></samp></td>
							</tr>
							<tr>
								<th scope="row">相生</th>
								<td>まとめ</td>
								<td><%= link_to (@invoice.data[:processing] ? '<i class="fas fa-spinner"></i>' : '<i class="far fa-file-pdf"></i>').html_safe, @invoice.aioi_all_pdf.url, target: '_blank', class: 'btn btn-sm btn-info ' + (@invoice.data[:processing] ? 'disabled' : '') %></td>
								<td><samp><%= @invoice[:data][:passwords]["aioi_all_password"] %></samp></td>
							</tr>
							<tr>
								<th scope="row">相生</th>
								<td>各生産者</td>
								<td><%= link_to (@invoice.data[:processing] ? '<i class="fas fa-spinner"></i>' : '<i class="far fa-file-pdf"></i>').html_safe, @invoice.aioi_seperated_pdf.url, target: '_blank', class: 'btn btn-sm btn-info ' + (@invoice.data[:processing] ? 'disabled' : '') %></td>
								<td><samp><%= @invoice[:data][:passwords]["aioi_seperated_password"] %></samp></td>
							</tr>
						</tbody>
					</table>
				<% end %>
				<%= form_for @invoice do |f| %>
					<p class="card-text">
							<%= hidden_field :oyster_invoice, :start_date, :value => @invoice.start_date %>
							<%= hidden_field :oyster_invoice, :end_date, :value => @invoice.end_date %>
							<%= f.label :sakoshi_emails, "坂越へのメール", class: 'pr-0' %>
							<%= f.text_field :sakoshi_emails, class: 'form-control form-control-sm' %>
							<%= f.label :aioi_emails, "相生へのメール", class: 'pr-0' %>
							<%= f.text_field :aioi_emails, class: 'form-control form-control-sm' %>
							<hr>
							<%= f.label :send_at, "送信予約日時", class: 'pr-0' %>
							<div class="input-group date datetimepicker" id="<%= @invoice.id ? @invoice.id : 'new' %>" data-target-input="nearest">
								<%= f.text_field :send_at, 'data-target' => "##{@invoice.id ? @invoice.id : 'new'}", class: 'datetimepicker-input form-control', value: (@invoice.send_at.nil? ? (DateTime.now.monday + 1.week + 9.hours) : (@invoice.send_at)) %>
								<hr>
								<div class="input-group-append" data-target="#<%= @invoice.id ? @invoice.id : 'new' %>" data-toggle="datetimepicker">
									<div class="input-group-text"><%= icon('calendar-event') %></div>
								</div>
							</div>
							<hr>
							<span class="float-left">
								<%= f.label :completed, '送信済？', class: 'pr-0' %>
								<%= f.check_box :completed, class: 'ml-1' %>
							</span>
					</p>
					<% if @invoice.id %>
						<%= link_to (invoice.data[:processing] ? '<i class="fas fa-spinner"></i>' : '削除').html_safe, @invoice, method: :delete, data: { confirm: '削除?' }, class: 'btn btn-sm btn-danger float-right m-2 ' + (invoice.data[:processing] ? 'disabled' : '') %>
						<%= f.submit '更新', class: 'btn btn-success btn-sm float-right m-2' %>
					<% else %>
						<%= f.submit '作成・送信予約', class: 'btn btn-success float-right m-2' %>
					<% end %>
				<% end %>
			</div>
			<% if @invoice.id %>
				<div class="card-footer">
					<small class="text-muted float-left">
						最終更新時刻: <%= @invoice.updated_at %><br>
						原料入力の最終更新時刻:
					</small>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
