<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.49/js/bootstrap-datetimepicker.min.js" integrity="sha512-jPwanAeILSRxZLeyP1XYBOo67+how4C1Ij54LQSa8xIOP3hKyeWRe24C0scI4QrTeQywKd1meF4Pak/Glv34vA==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.49/css/bootstrap-datetimepicker-standalone.css" integrity="sha512-UrJeFwwm3LtRacRyPhKve/pV0pgMznDum4Hrfl48H5Myzx9qPZWtYXV6aosv7tTzhRy94K29Kl5lsiP2pc1EHw==" crossorigin="anonymous" />
<script type="text/javascript">
	$.extend(true, $.fn.datetimepicker.defaults, {
		icons: {
			time: 'fa fa-clock-o',
			date: 'fa fa-calendar',
			up: 'fa fa-chevron-up',
			down: 'fa fa-chevron-down',
			previous: 'fa fa-chevron-left',
			next: 'fa fa-chevron-right',
			today: 'fa fa-calendar',
			clear: 'fa fa-trash',
			close: 'fa fa-calendar-times-o'
		},
		format: 'YYYY年MM月DD日 HH:mm'
	});
	$(function () {
		$('.datetimepicker').datetimepicker();
	});
</script>

<% if @invoice.start_date %>
	<div class="card">
		<div class="card-header text-center py-1">
			<h6 class="float-left pt-1">
				仕切り作成・固定
			</h6>
			<span class="float-right pt-1">
				<%= icon('calendar-range') %>
			</span>
		</div>
		<div class="card-body">
			<% if @invoice.id %>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">場所</th>
							<th scope="col">フォーマット</th>
							<th scope="col">PDFリンク</th>
							<th scope="col">PDFパスワード</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">坂越</th>
							<td>まとめ</td>
							<td><%= link_to (@invoice.data[:processing] ? '<div class="spinner-border"></div>' : icon('file-arrow-down')).html_safe, @invoice.sakoshi_all_pdf.url, target: '_blank', class: 'btn btn-sm btn-info ' + (@invoice.data[:processing] ? 'disabled' : '') %></td>
							<td><samp><%= @invoice[:data][:passwords]["sakoshi_all_password"] %></samp></td>
						</tr>
						<tr>
							<th scope="row">坂越</th>
							<td>各生産者</td>
							<td><%= link_to (@invoice.data[:processing] ? '<div class="spinner-border"></div>' : icon('file-arrow-down')).html_safe, @invoice.sakoshi_seperated_pdf.url, target: '_blank', class: 'btn btn-sm btn-info ' + (@invoice.data[:processing] ? 'disabled' : '') %></td>
							<td><samp><%= @invoice[:data][:passwords]["sakoshi_seperated_password"] %></samp></td>
						</tr>
						<tr>
							<th scope="row">相生</th>
							<td>まとめ</td>
							<td><%= link_to (@invoice.data[:processing] ? '<div class="spinner-border"></div>' : icon('file-arrow-down')).html_safe, @invoice.aioi_all_pdf.url, target: '_blank', class: 'btn btn-sm btn-info ' + (@invoice.data[:processing] ? 'disabled' : '') %></td>
							<td><samp><%= @invoice[:data][:passwords]["aioi_all_password"] %></samp></td>
						</tr>
						<tr>
							<th scope="row">相生</th>
							<td>各生産者</td>
							<td><%= link_to (@invoice.data[:processing] ? '<div class="spinner-border"></div>' : icon('file-arrow-down')).html_safe, @invoice.aioi_seperated_pdf.url, target: '_blank', class: 'btn btn-sm btn-info ' + (@invoice.data[:processing] ? 'disabled' : '') %></td>
							<td><samp><%= @invoice[:data][:passwords]["aioi_seperated_password"] %></samp></td>
						</tr>
					</tbody>
				</table>
			<% end %>
			<%= form_for @invoice, :html => { class: 'form-inline' } do |f| %>
				<%= hidden_field :oyster_invoice, :start_date, :value => @invoice.start_date %>
				<%= hidden_field :oyster_invoice, :end_date, :value => @invoice.end_date %>
				<div class="form-group mb-2 mx-auto mb-1">
					<div class="input-group-prepend">
						<span class="input-group-text mr-2">坂越メール</span>
					</div>
					<%= f.text_field :sakoshi_emails, class: 'form-control', wrapper: false, label: false %>
				</div>
				<div class="form-group mb-2 mx-auto mb-1">
					<div class="input-group-prepend">
						<span class="input-group-text mr-2">相生メール</span>
					</div>
					<%= f.text_field :aioi_emails, class: 'form-control', wrapper: false, label: false %>
				</div>
				<div class="form-group mb-2 mx-auto mb-1">
					<div class="input-group-prepend">
						<span class="input-group-text mr-2">送信予約日時</span>
					</div>
					<%= f.text_field :send_at, 'data-target' => "##{@invoice.id ? @invoice.id : 'new'}", class: 'form-control datetimepicker', value: (@invoice.send_at.nil? ? (DateTime.now.monday + 1.week + 9.hours) : (@invoice.send_at)) %>
				</div>
				<div class="form-group mb-2 mx-auto mb-1">
					<%= f.label :completed, '送信済？' %>
					<%= f.check_box :completed, class: 'mr-3' %>
					<% if @invoice.id %>
						<%= link_to (invoice.data[:processing] ? '<i class="fas fa-spinner"></i>' : '削除').html_safe, @invoice, method: :delete, data: { confirm: '削除?' }, class: 'btn btn-sm btn-danger float-right m-2 ' + (invoice.data[:processing] ? 'disabled' : '') %>
						<%= f.submit '更新', class: 'btn btn-success btn-sm float-right m-2 load' %>
					<% else %>
						<%= f.submit '作成・送信予約', id: 'new_invoice_submit', class: 'btn btn-success float-right m-2 load' %>
					<% end %>
				</div>
			<% end %>
		</div>
		<% if @invoice.id %>
			<div class="card-footer">
				<small class="text-muted float-left">
					最終更新時刻: <%= @invoice.updated_at %><br>
					原料入力の最終更新時刻:
				</small>
			</div>
		<% end %>
	</div>
<% end %>
