<script>
	tippy('.exp_card', {
		allowHTML: true, 
		animation: 'scale', 
		duration: [300,0],
		interactive: true,
		theme: 'exp_card',
		touch: true,
		touch: 'hold'
	});
</script>

<% if @sakoshi_expiration_today %>
	<h5>―　坂越海域　―</h5>
		<%= card_link(@sakoshi_expiration_today, '坂越海域 今日 D+4', 'mb-1 btn-success') %>
		<br>
	<div class="btn-group mb-1 mt-1" role="group" aria-label="Basic">
		<%= card_link(@sakoshi_expiration_today_five, '坂越海域 今日D+5', 'btn-sm btn-info') %>
		<%= card_link(@sakoshi_expiration_tomorrow, '坂越海域 明日D+4', 'btn-sm btn-info') %>
		<%= card_link(@sakoshi_expiration_tomorrow_five, '坂越海域 明日D+5', 'btn-sm btn-info') %>
	</div>
	<div class="btn-group mb-1 mt-1" role="group" aria-label="Basic">
		<%= card_link(@sakoshi_expiration_today_five_expo, '坂越海域 今日D+5（製造日なし）', 'btn-sm btn-info') %>
		<%= card_link(@sakoshi_expiration_muji, '坂越海域 無印', 'btn-sm btn-info') %>
	</div>
	<h5>―　相生海域海域　―</h5>
		<%= card_link(@aioi_expiration_today, '相生海域 今日 D+4', 'mb-1 btn-success') %>
		<br>
	<div class="btn-group mb-1 mt-1" role="group" aria-label="Basic">
		<%= card_link(@aioi_expiration_today_five, '相生海域 今日 D+5', 'btn-sm btn-info') %>
		<%= card_link(@aioi_expiration_tomorrow, '相生海域 明日D+4', 'btn-sm btn-info') %>
		<%= card_link(@aioi_expiration_tomorrow_five, '相生海域 明日D+5', 'btn-sm btn-info') %>
	</div>
	<div class="btn-group mb-1 mt-1" role="group" aria-label="Basic">
		<%= card_link(@aioi_expiration_today_five_expo, '相生海域 今日D+5（製造日なし）', 'btn-sm btn-info') %>
		<%= card_link(@aioi_expiration_muji, '相生海域 無印', 'btn-sm btn-info') %>
	</div>
<% else %>
	セルカードは準備中です。
<% end %>