<% unless @infomart_shinki.empty? %>
	<div class="modal fade" id="infomart_shinki_modal" tabindex="-1" aria-labelledby="infomart_shinki_modal_label" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="infomart_shinki_modal_label">Infomartの新規（未確認）注文</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="card p-2">
						<div class="row d-flex justify-content-center align-items-center">
							<% counts(@infomart_shinki).each_with_index do |c, i| %>
								<% unless c.zero? %>
									<div class="col text-center">
										<h6 class="font-weight-bolder p-2"><%= count_title(i) %></h6>
										<span class="btn btn-sm btn-primary"><%= c %> <%= count_counter(i) %></span>
									</div>
								<% end %>
							<% end %>
						</div>
					</div>
					<nav class="mt-2">
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-link active" id="order-list-tab" data-toggle="tab" href="#order-list" role="tab" aria-controls="order-list" aria-selected="true">注文リスト</a>
							<a class="nav-link" id="raw-item-list-tab" data-toggle="tab" href="#raw-item-list" role="tab" aria-controls="raw-item-list" aria-selected="false">商品リスト（生）</a>
							<a class="nav-link" id="frozen-item-list-tab" data-toggle="tab" href="#frozen-item-list" role="tab" aria-controls="frozen-item-list" aria-selected="false">商品リスト（冷）</a>
						</div>
					</nav>
					<div class="tab-content p-3" id="nav-tabContent">
						<div class="tab-pane fade show active" id="order-list" role="tabpanel" aria-labelledby="order-list-tab">
							<div class="row border bg-dark text-light rounded align-items-center text-center m-1 mb-2">
								<div class="col-lg-3 col-6 mb-2">
									<div class="btn btn-info btn-sm mt-2">
										伝票ID
										<span class="badge badge-secondary">
											状況
										</span>
									</div>
								</div>
								<div class="col-lg-2 col-6 mb-2 small">
									注文日時
								</div>
								<div class="col-lg-5 col-6 mb-2">
									納品場所名
								</div>
								<div class="col-lg-2 col-6 mb-2 small">
									届日（納品日）
								</div>
							</div>
							<% @infomart_shinki.each do |order| %>
							<% unless order.cancelled || order.counts.sum.zero? %>
								<div class="row border rounded align-items-center text-center m-1 mb-2">
									<div class="col-lg-3 col-6 mb-2">
										<%= link_to get_infomart_backend_link(order.backend_id), target: '_blank', class: 'btn btn-info btn-sm mt-2' do %>
											<%= order.order_id %>
											<span class="badge <%= status_badge_color(order) %>">
												<%= order.status %>
											</span>
										<% end %>
									</div>
									<div class="col-lg-2 col-6 mb-2 small">
										<%= order.order_time.to_s(:db) %>
									</div>
									<div class="col-lg-5 col-6 mb-2">
										<%= print_destination(order) %>
									</div>
									<div class="col-lg-2 col-6 mb-2">
										<%= order.arrival_date %>
									</div>
									<div class="col-12 mb-2">
										<% order.items.each do |item_id, item| %>
											<% if food?(item) %>
												<div class="ml-4 row bg-light rounded p-1 m-1 border border-secondary small">
													<div class="col-7">
														<%= icon('thermometer') if cold?(item) %> <%= item[:name] %>
													</div>
													<div class="col-3">
														<% unless item[:standard].empty? %>
															(<%= "#{item[:standard]} x #{item[:in_box_quantity]} #{item[:in_box_counter]}" %>)
														<% end %>
													</div>
													<div class="col-2">
														<%= "#{item[:quantity]} #{item[:counter]}" %>
													</div>
												</div>
											<% end %>
										<% end %>
									</div>
								</div>
							<% end %>
							<% end %>
						</div>
						<div class="tab-pane fade" id="raw-item-list" role="tabpanel" aria-labelledby="raw-item-list-tab">
							<div class="row small bg-secondary text-white">
								<% ['# 飲食店', '500g', '1kg', 'セル', 'その他', 'お届け日'].each do |header| %>
									<div class="col p-2 text-center">
										<b><%= header %></b>
									</div>
								<% end %>
							</div>
							<% i = 0 %>
							<% @infomart_shinki.each do |order| %>
								<% unless order.counts.sum.zero? %>
									<% order.item_array[:raw].each do |item| %>
										<div class="row small <%= cycle('bg-white', 'bg-light') %>">
											<% (item[0..6] - [item[1]]).each_with_index do |item_col, ii| %>
												<div class="col p-2 text-center">
													<b><%= (i + 1).to_s if ii == 0 %></b> <%= "#{item_col}" %>
												</div>
											<% end %>
											<% i += 1 %>
										</div>
									<% end %>
								<% end %>
							<% end %>
						</div>
						<div class="tab-pane fade" id="frozen-item-list" role="tabpanel" aria-labelledby="frozen-item-list-tab">
							<div class="row small bg-secondary text-white">
								<% ['# 飲食店', '500g (L)', '500g (LL)', '500g (生)', 'セル (100)', '小セル', 'お届け日'].each do |header| %>
									<div class="col p-2 text-center">
										<b><%= header %></b>
									</div>
								<% end %>
							</div>
							<% i = 0 %>
							<% @infomart_shinki.each do |order| %>
								<% unless order.counts.sum.zero? %>
									<% order.item_array[:frozen].each do |item| %>
										<div class="row small <%= cycle('bg-white', 'bg-light') %>">
											<% (item[0..7] - [item[1]]).each_with_index do |item_col, ii| %>
												<div class="col p-2 text-center">
													<b><%= (i + 1).to_s if ii == 0 %></b> <%= "#{item_col}" %>
												</div>
											<% end %>
											<% i += 1 %>
										</div>
									<% end %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
				</div>
			</div>
		</div>
	</div>
<% end %>
