<% shinki = @online_orders.shinki_im_orders %>

<% if shinki[:total] > 0 || @wc_shinki %>
	<div class="modal fade" id="manifest_shinki_modal" tabindex="-1" aria-labelledby="manifest_shinki_modal_label" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="manifest_shinki_modal_label">IM/WCの新規注文</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<% if @wc_shinki %>
						<h4 class="mr-1">WooCommerce 新規注文</h4>
						<div class="row bg-info text-white p-3 m-1 h5">
							<div class="col-lg-1 col-md-12 small">
								注文番号
							</div>
							<div class="col-lg-3 col-md-12 small">
								注文者・届け先
							</div>
							<div class="col-lg-8 col-md-12">
								商品
							</div>
						</div>
						<% @wc_shinki.each do |order| %>
							<div class="row ml-1 mr-1 <%= cycle_table_rows %>">
								<div class="col-lg-1 col-md-6 col-sm-12 small">
									<%= link_to order["id"], order["_links"]["self"][0]["href"], target: "_blank" %>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-12 small">
									<%= order["billing"]["last_name"] + order["billing"]["first_name"] %>・<%= order["shipping"]["last_name"] + order["shipping"]["first_name"] %>
								</div>
								<div class="col-lg-8 col-md-6 col-sm-12">
									<% order["line_items"].each_with_index do |item, i| %>
										<b><%= item["name"] %></b><%= ("× #{item['quantity']}").html_safe if item['quantity'].to_i > 1 %><%= ("<br>").html_safe if i > 0 %>
									<% end %>
								</div>
							</div>
						<% end %>
					<% end %>
					<% if shinki[:total] > 0 %>
					<% [:raw, :frozen].each do |key| %>
						<% unless shinki[key].empty? %>
							<h4 class="mr-1">InfoMart <%= key == :raw ? "生食" : "冷凍" %></h4>
							<div class="row bg-info text-white p-3 m-1 h5">
								<div class="col-lg-1 col-md-12 small">
									注文番号
								</div>
								<div class="col-lg-3 col-md-12 small">
									注文者・届け先
								</div>
								<div class="col-lg-8 col-md-12">
									商品
								</div>
							</div>
							<% shinki[key].each do |order_id, order_details| %>
								<div class="row ml-1 mr-1 <%= cycle_table_rows %>">
									<div class="col-lg-1 col-md-6 col-sm-12 small">
										<%= link_to order_id, get_infomart_backend_link(order_details[:backend_id]), target: "_blank" %>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-12 small">
										<%= order_details[:client] %>
									</div>
									<div class="col-lg-8 col-md-6 col-sm-12">
										<% order_details[:items].each do |item| %>
											<% item.each_with_index do |item, i| %>
												<% if item.is_a?(Hash) %>
													<b><%= item[:item_name].gsub('軽減', '') %></b><%= ("× #{item[:item_count]}").html_safe if item[:item_count].to_i > 1 %><%= ("<br>").html_safe if i > 0 %>
												<% end %>
											<% end %>
										<% end %>
									</div>
								</div>
							<% end %>
						<% end %>
					<% end %>
					<% end %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class="card m-0 p-0 border-white">
	<div class="card-header bg-white">
		<h4 class="card-title float-left"><%= @online_orders.sales_date %></h4>
		<div class="float-right">
			<div class="btn-group">
				<% if shinki[:total] > 0 %>
					<button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#manifest_shinki_modal">
						<%= icon("asterisk") %><span class="badge badge-warning ml-1"><%= @wc_shinki ? (shinki[:total] + @wc_shinki.length) : shinki[:total] %></span>
					</button>
				<% end %>
				<%= link_to icon("card-list"), @online_orders, :alt => "個別ページ", class: 'btn btn-info' %>
				<%= link_to icon("arrow-counterclockwise", class: "text-success"), edit_manifest_path(@online_orders), :alt => "データを編集", class: 'btn btn-info' %>
				<%= link_to icon("file-earmark-arrow-down"), manifest_pdf_path(@online_orders), :method => :get, class: 'btn btn-info', target: "_blank" %>
			</div>
		</div>
	</div>
		<% infomart_count(@online_orders) %>
		<% tsuhan_count(@online_orders) %>
		<% counts = @online_orders.display_totals %>
		<div class="card-text text-center">
			<div class="row h5 text-center mb-1">
				<div class="col-md-4 col-sm-12 mb-2 pb-1">
					<span class="d-block mb-1 strong border-bottom">むき身</span>
					<%= counts[:gohyaku] %>
				</div>
				<div class="col-md-4 col-sm-12 mb-2 pb-1">
					<span class="d-block mb-1 strong border-bottom">セル／セルカード</span>
					<b><%= counts[:shells] %> ・ <%= counts[:cards] %></b>
				</div>
				<div class="col-md-4 col-sm-12 mb-2 pb-1">
					<span class="d-block mb-1 strong border-bottom">バラ牡蠣</span>
					<%= counts[:bara] %>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-sm table-striped small">
					<tr>
						<th colspan="2" class="border-right">
							インフォマート
						</th>
						<th colspan="4">
							自社サイト
						</th>
					</tr>
					<tr>
						<th>
							生牡蠣
						</th>
						<th class="border-right">
							冷凍牡蠣
						</th>
						<th>
							冷蔵便
						</th>
						<th>
							冷凍便
						</th>
						<th>
							干しエビ
						</th>
						<th>
							焼きアナゴ
						</th>
					</tr>
					<tr>
						<td>
							<%= non_zero_print(@infomart[:raw]) %>
						</td>
						<td class="border-right">
							<%= non_zero_print(@infomart[:frozen]) %>
						</td>
						<td>
							<%= non_zero_print(@tsuhan[:fridge]) %>
						</td>
						<td>
							<%= non_zero_print(@tsuhan[:frozen]) %>
						</td>
						<td>
							<%= non_zero_print(@tsuhan[:ebi]) %>
						</td>
						<td>
							<%= non_zero_print(@tsuhan[:anago]) %>
						</td>
					</tr>
				</table>
			</div>
		</div>
	<div class="card-footer bg-white">
		<small class="text-muted float-left">
			(<%= @online_orders.updated_at.in_time_zone('Tokyo') %>)に更新された
		</small>
		<div class="btn-group float-right d-print-none" role="group" aria-label="Basic">
			<%= link_to icon("arrow-left-circle"), load_online_order_path(@online_orders.manifest_query.previous.id), :alt => "前", class: 'btn btn-sm btn-secondary', remote: true %>
			<%= link_to icon("arrow-right-circle"), load_online_order_path(@online_orders.manifest_query.next.id), :alt => "次", class: 'btn btn-sm btn-secondary', remote: true %>
		</div>
	</div>
</div>