<script type="text/javascript">
	<%= render partial: 'sharedjs', formats: [:js] %>
</script>

<% shinki = @online_orders.shinki_im_orders %>

<div class="card m-0 p-0 border-white">
	<div class="card-header p-3">
		<h4 class="card-title float-left"><%= @online_orders.sales_date %></h4>
		<span class="mb-3">&nbsp</span>
		<div class="btn-group float-right mt-n2">
			<% if shinki[:total] > 0 %>
				<span class="btn btn-sm btn-info m-0 p-0 tippy" data-tippy-content="<center>通販新規注文</center>">
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#manifest_shinki_modal">
						<%= icon("asterisk", class: 'text-white') %><span class="badge badge-warning ml-1"><%= @wc_shinki ? (shinki[:total] + @wc_shinki.length) : shinki[:total] %></span>
					</button>
				</span>
			<% end %>
			<span class="btn btn-sm btn-info m-0 p-0 tippy" data-tippy-content="<center><%= @online_orders.sales_date %>の<br>出荷個別ページ</center>">
				<%= link_to icon("card-list", class: 'text-white'), @online_orders, :alt => "個別ページ", class: 'btn btn-info' %>
			</span>
			<span class="btn btn-sm btn-info m-0 p-0 tippy" data-tippy-content="<center><%= @online_orders.sales_date %>の<br>データを取込む</center>">
				<%= link_to icon("arrow-counterclockwise", class: "text-success"), edit_manifest_path(@online_orders), :alt => "データを編集", class: 'btn btn-info' %>
			</span>
			<span class="btn btn-sm btn-info m-0 p-0 tippy" data-tippy-content="<center><%= @online_orders.sales_date %>の<br>出荷表PDFを開く</center>">
				<%= link_to icon("file-earmark-arrow-down", class: 'text-white'), manifest_pdf_path(@online_orders), :method => :get, class: 'btn btn-info', remote: true, 'data-turbolinks' => "false" %>
			</span>
		</div>
	</div>
		<% infomart_count(@online_orders) %>
		<% tsuhan_count(@online_orders) %>
		<% counts = @online_orders.display_totals %>
		<div class="card-text text-center">
			<div class="row h5 text-center mb-1 w-100">
				<div class="col-md-4 col-sm-12 mb-2 pb-1">
					<span class="d-block m-1 strong">むき身</span>
					<%= counts[:gohyaku] %>
				</div>
				<div class="col-md-4 col-sm-12 mb-2 pb-1">
					<span class="d-block m-1 strong">セル／セルカード</span>
					<b><%= counts[:shells] %> ・ <%= counts[:cards] %></b>
				</div>
				<div class="col-md-4 col-sm-12 mb-2 pb-1">
					<span class="d-block m-1 strong">バラ牡蠣</span>
					<%= counts[:bara] %>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-sm table-striped small">
					<tr>
						<th colspan="2" class="border-right">
							インフォマート
						</th>
						<th colspan="4">
							自社サイト
						</th>
					</tr>
					<tr>
						<th>
							生牡蠣
						</th>
						<th class="border-right">
							冷凍牡蠣
						</th>
						<th>
							冷蔵便
						</th>
						<th>
							冷凍便
						</th>
						<th>
							干しエビ
						</th>
						<th>
							焼きアナゴ
						</th>
					</tr>
					<tr>
						<td>
							<%= non_zero_print(@infomart[:raw]) %>
						</td>
						<td class="border-right">
							<%= non_zero_print(@infomart[:frozen]) %>
						</td>
						<td>
							<%= non_zero_print(@tsuhan[:fridge]) %>
						</td>
						<td>
							<%= non_zero_print(@tsuhan[:frozen]) %>
						</td>
						<td>
							<%= non_zero_print(@tsuhan[:ebi]) %>
						</td>
						<td>
							<%= non_zero_print(@tsuhan[:anago]) %>
						</td>
					</tr>
				</table>
			</div>
		</div>
	<div class="card-footer bg-white">
		<small class="text-muted float-left">
			(<%= @online_orders.updated_at.in_time_zone('Tokyo') %>)に更新された
		</small>
			<% previous_day = @online_orders.manifest_query.previous %>
			<% next_day = @online_orders.manifest_query.next %>
		<div class="btn-group float-right mt-n2 mb-1" role="group" aria-label="Basic">
			<%= link_to icon("arrow-left-circle"), load_online_order_path(previous_day.id), :alt => "前", class: 'btn btn-sm btn-secondary tippy', remote: true, "data-tippy-content" => "<center>#{previous_day.sales_date}の<br>データを見る</center>" %>
			<%= link_to icon("arrow-right-circle"), load_online_order_path(next_day.id), :alt => "次", class: 'btn btn-sm btn-secondary tippy', remote: true, "data-tippy-content" => "<center>#{next_day.sales_date}の<br>データを見る</center>" %>
		</div>
	</div>
</div>
