<%= javascript_pack_tag 'partials', 'data-turbolinks-track': 'reload' %>

<div class="card m-0 p-0 border-white">
	<div class="card-header p-1 mb-1">
		<div class="row">
			<div class="col-lg-6 col-md-12 text-center d-table-cell align-middle mb-1">
				<h4 class="mb-0 mt-1 card-title"><%= to_nengapiyoubi(@search_date) %></h4>
			</div>
			<div class="col-lg-6 col-md-12 text-center d-table-cell align-middle mb-1">
				<div class="btn-group">
					<% unless @new_online_orders.empty? %>
						<button type="button" class="btn btn-sm btn-info tippy" data-toggle="modal" data-target="#online_shinki_modal" data-tippy-content="<center>Funabiki.info 新規注文</center>">
							<%= icon("asterisk") %><span class="badge badge-warning ml-1"><%= @new_online_orders.length %></span>
						</button>
					<% end %>
					<span class="btn btn-sm btn-info m-0 p-0 tippy" data-tippy-content="個別ページ">
						<%= link_to icon("card-list", class: "text-white"), online_orders_path(date: @search_date), :alt => "個別ページ", class: 'btn btn-info', 'data-turbolinks' => "false" %>
					</span>
					<span class="btn btn-sm btn-info m-0 p-0 tippy" data-tippy-content="データ更新">
						<%= link_to icon("arrow-counterclockwise", class: "text-success"), refresh_online_orders_path, :alt => "データ更新", class: 'btn btn-info' %>
					</span>
					<span class="btn btn-sm btn-info m-0 p-0 tippy load" data-tippy-content="Funabiki.info 出荷データCSVを作成">
						<%# link_to icon("file-earmark-spreadsheet", class: 'text-white'), online_orders_csv_path(ship_date: @search_date), :method => :get, data: {turbolinks: false}, class: "btn btn-info" %>
					</span>
					<span class="btn btn-sm btn-info m-0 p-0 tippy load" data-tippy-content="Funabiki.info 出荷表を作成">
						<%= link_to icon("file-earmark-arrow-down", class: 'text-white'), online_orders_shipping_list_path(ship_date: @search_date), :method => :get, remote: true, class: "btn btn-info" %>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="card-text text-center">
		<% if !@daily_orders.empty? %>
			<div class="card p-2">
				<div class="row d-flex justify-content-center align-items-center">
					<% counts = online_order_counts(@daily_orders) %>
					<% counts[:headers].each_with_index do |header, i| %>
						<% value = counts[:values][i] %>
						<% unless value.zero? %>
							<div class="col text-center">
								<h6 class="font-weight-bolder p-2"><%= header %></h6>
								<span class="btn btn-sm btn-primary"><%= value %><%= online_order_counts_counter(i) %></span>
							</div>
						<% end %>
					<% end %>
					<% unless online_order_knives(@daily_orders).zero? %>
						<div class="col text-center">
							<h6 class="font-weight-bolder p-2">ナイフ</h6>
							<span class="btn btn-sm btn-primary"><%= online_order_knives(@daily_orders) %>個</span>
						</div>
					<% end %>
					<% unless online_order_noshis(@daily_orders).zero? %>
						<div class="col text-center">
							<h6 class="font-weight-bolder p-2">熨斗</h6>
							<span class="btn btn-sm btn-primary"><%= online_order_noshis(@daily_orders) %>枚</span>
						</div>
					<% end %>
				</div>
			</div>
		<% else %>
			<div class="m-3">
				Funabiki.info発送なし
			</div>
		<% end %>
	</div>

	<div class="card-footer bg-white d-table-cell align-middle">
		<small class="text-muted">
			<%= "#{to_nengapijibun(@daily_orders.last.updated_at)}時点" unless @daily_orders.empty? %>
		</small>
		<div class="btn-group float-right" role="group" aria-label="Basic">
			<%= link_to icon("arrow-left-circle"), load_online_orders_path(@search_date - 1.day), :alt => "前", class: 'btn btn-sm btn-secondary tippy load', 'data-target' => '#tsuhan_partial', remote: true, "data-tippy-content" => "<center>#{to_nengapi(@search_date - 1.day)}の<br>データを見る</center>"  %>
			<%= link_to icon("arrow-right-circle"), load_online_orders_path(@search_date + 1.day), :alt => "次", class: 'btn btn-sm btn-secondary tippy load', 'data-target' => '#tsuhan_partial', remote: true, "data-tippy-content" => "<center>#{to_nengapi(@search_date + 1.day)}の<br>データを見る</center>" %>
		</div>
	</div>
</div>


