<div class="row">
	<div class="col-xl-4 col-lg-12">
		<h5>オイシス</h5>
		<%= link_to "むき身", "https://storage.googleapis.com/funabiki-online.appspot.com/uploads/B5%20Oyster%20Sisters%20%E3%82%80%E3%81%8D%E8%BA%AB.png", target: "_blank", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
		<%= link_to "殻付き", "https://storage.googleapis.com/funabiki-online.appspot.com/uploads/B5%20Oyster%20Sisters%20%E6%AE%BB%E4%BB%98%E3%81%8D.png", target: "_blank", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
		<%= link_to "冷凍むき身", "https://storage.googleapis.com/funabiki-online.appspot.com/uploads/B5%20Oyster%20Sisters%20%E5%86%B7%E5%87%8D%E3%83%87%E3%82%AB%E3%83%97%E3%83%AA.png", target: "_blank", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
		<%= link_to "冷凍殻付き", "https://storage.cloud.google.com/funabiki-online.appspot.com/uploads/B5%20Oyster%20Sisters%20%E5%86%B7%E5%87%8D%E6%AE%BB%E4%BB%98%E3%81%8D.png", target: "_blank", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
		<%= link_to "穴子", "https://storage.googleapis.com/funabiki-online.appspot.com/uploads/B5%20Oyster%20Sisters%20%E3%82%A2%E3%83%8A%E3%82%B4.png", target: "_blank", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
	</div>
	<div class="col-xl-4 col-lg-12">
		<h5>Online Shop</h5>
		<%= link_to "むき身", "https://storage.googleapis.com/funabiki-online.appspot.com/uploads/B5%20%E8%88%B9%E6%9B%B3Online%20Shop%20%E3%82%80%E3%81%8D%E8%BA%AB.png", target: "_blank", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
		<%= link_to "殻付き", "https://storage.googleapis.com/funabiki-online.appspot.com/uploads/B5%20%E8%88%B9%E6%9B%B3Online%20Shop%20%E6%AE%BB%E4%BB%98%E3%81%8D.png", target: "_blank", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
		<%= link_to "冷凍むき身", "https://storage.googleapis.com/funabiki-online.appspot.com/uploads/B5%20%E8%88%B9%E6%9B%B3Online%20Shop%20%E5%86%B7%E5%87%8D%E3%83%87%E3%82%AB%E3%83%97%E3%83%AA.png", target: "_blank", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
		<%= link_to "冷凍殻付き", "https://storage.googleapis.com/funabiki-online.appspot.com/uploads/B5%20%E8%88%B9%E6%9B%B3Online%20Shop%20%E5%86%B7%E5%87%8D%E6%AE%BB%E4%BB%98%E3%81%8D.png", target: "_blank", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
		<%= link_to "穴子", "https://storage.googleapis.com/funabiki-online.appspot.com/uploads/B5%20%E8%88%B9%E6%9B%B3Online%20Shop%20%E3%82%A2%E3%83%8A%E3%82%B4.png", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
	</div>
	<div class="col-xl-4 col-lg-12">
		<h5>EXTRA</h5>
		<%= link_to "BDAY", "https://storage.googleapis.com/funabiki-online.appspot.com/uploads/B5%20Oyster%20Sisters%20HAPPY-BIRTHDAY.png", target: "_blank", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
		<%= link_to "GIFT", "https://storage.googleapis.com/funabiki-online.appspot.com/uploads/B5%20Oyster%20Sisters%20GIFT.png", target: "_blank", rel: "nofollow", class: 'btn btn-sm btn-info d-block m-1' %>
	</div>
</div>
