<div class="card mb-3">
	<div class="card-header">
		<h4 class="card-title float-left">楽天状況（<%= @rakuten.sales_date %>）</h4>
		<div class="float-right">
			<div class="btn-group float-right d-print-none" role="group" aria-label="Basic">
				<%= link_to ('<i class="far fa-file-alt"></i>').html_safe, @rakuten, :alt => "個別ページ", class: 'btn btn-info' %>
				<%= link_to ('<i class="fas fa-sync-alt"></i>').html_safe, edit_r_manifest_path(@rakuten), :alt => "データを編集", class: 'btn btn-success' %>
				<%= link_to ('<i class="fas fa-layer-group"></i>').html_safe, r_manifest_seperated_pdf_path(@rakuten), :method => :get, class: 'btn btn-info', target: "_blank" %>
				<%= link_to ('<i class="far fa-file-pdf"></i>').html_safe, r_manifest_new_pdf_path(@rakuten), class: 'btn btn-info', target: '_blank' %>
			</div>
		</div>
	</div>
		<div class="card-text text-center">
			<% counts = @rakuten.new_order_counts %>
			<% work_totals = @rakuten.prep_work_totals %>
			<div class="row text-center mb-1">
				<div class="col-md-2 col-sm-6 mb-2 border-secondary pb-1">
					<span class="d-block mb-1 strong border-bottom">むき身</span>
					<%= if counts[:mizukiri] > 0 then ('<b>').html_safe + counts[:mizukiri].to_s + ('<small>パック</small></b>').html_safe end %>
				</div>
				<div class="col-md-2 col-sm-6 mb-2 border-secondary pb-1">
					<span class="d-block mb-1 strong border-bottom">セル／カード</span>
					<%= if counts[:shells] > 0 then ('<b>').html_safe + counts[:shells].to_s + ('<small>個</small></b>').html_safe end %> ・ 
					<b><%= work_totals[:shell_cards] %><small>枚</small></b></b>
				</div>
				<div class="col-md-2 col-sm-6 mb-2 border-secondary pb-1">
					<span class="d-block mb-1 strong border-bottom">デカプリ</span>
					<%= if counts[:dekapuri] > 0 then ('<b>').html_safe + counts[:dekapuri].to_s + ('<small>パック</small></b>').html_safe end %>
				</div>
				<div class="col-md-2 col-sm-6 mb-2 border-secondary pb-1">
					<span class="d-block mb-1 strong border-bottom">穴子</span>
					<%= if counts[:anago] > 0 then ('<b>').html_safe + counts[:anago].to_s + ('<small>件</small></b>').html_safe end %>
				</div>
				<div class="col-md-2 col-sm-6 mb-2 border-secondary pb-1">
					<span class="d-block mb-1 strong border-bottom">干しエビ</span>
					<%= if counts[:ebi] > 0 then ('<b>').html_safe + counts[:ebi].to_s + ('<small>件</small></b>').html_safe end %>
				</div>
				<div class="col-md-2 col-sm-6 mb-2 border-secondary pb-1">
					<span class="d-block mb-1 strong border-bottom">ナイフ</span>
					<b><%= work_totals[:knife_count] %><small>個</small></b>
				</div>
			</div>
		<div class="row mb-3 m-1">
			<div class="col-xl-5 col-lg-12 text-center border-top border-left border-right">
				<div class="col-12">
					<b>むき身牡蠣500g</b>
				</div>
				<div class="row border-bottom small font-weight-light font-italic">
					<div class="col-3">
						1p
					</div>
					<div class="col-3">
						2p
					</div>
					<div class="col-3">
						3p
					</div>
					<div class="col-3">
						4p
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<%= work_totals[:product_counts][:mizukiri][1] %>
					</div>
					<div class="col-3">
						<%= work_totals[:product_counts][:mizukiri][2] %>
					</div>
					<div class="col-3">
						<%= work_totals[:product_counts][:mizukiri][3] %>
					</div>
					<div class="col-3">
						<%= work_totals[:product_counts][:mizukiri][4] %>
					</div>
				</div>
			</div>
			<div class="col-xl-7 col-lg-12 text-center border-top border-right">
				<div class="col-12">
					<b>殻付き牡蠣</b>
				</div>
				<div class="row border-bottom small font-weight-light font-italic">
					<div class="col-2">
						10個
					</div>
					<div class="col-2">
						20個
					</div>
					<div class="col-2">
						30個
					</div>
					<div class="col-2">
						40個
					</div>
					<div class="col-2">
						50個
					</div>
					<div class="col-2">
						100個
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						<%= work_totals[:product_counts][:shells][10] %>
					</div>
					<div class="col-2">
						<%= work_totals[:product_counts][:shells][20] %>
					</div>
					<div class="col-2">
						<%= work_totals[:product_counts][:shells][30] %>
					</div>
					<div class="col-2">
						<%= work_totals[:product_counts][:shells][40] %>
					</div>
					<div class="col-2">
						<%= work_totals[:product_counts][:shells][50] %>
					</div>
					<div class="col-2">
						<%= work_totals[:product_counts][:shells][100] %>
					</div>
				</div>
			</div>
			<div class="col-xl-12 col-lg-12 text-center border">
				<div class="col-12">
					<b>むき身牡蠣500g + 殻付き</b>
				</div>
				<div class="row border-bottom small font-weight-light font-italic d-flex justify-content-center">
					<div class="col">
						10個＋１p
					</div>
					<div class="col">
						20個＋１p
					</div>
					<div class="col">
						30個＋１p
					</div>
					<div class="col">
						20個＋2p
					</div>
					<div class="col">
						30個＋2p
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="col">
						<%= work_totals[:product_counts][:sets][101] %>
					</div>
					<div class="col">
						<%= work_totals[:product_counts][:sets][201] %>
					</div>
					<div class="col">
						<%= work_totals[:product_counts][:sets][301] %>
					</div>
					<div class="col">
						<%= work_totals[:product_counts][:sets][202] %>
					</div>
					<div class="col">
						<%= work_totals[:product_counts][:sets][302] %>
					</div>
				</div>
			</div>
		</div>
			<% if counts[:noshi] || counts[:receipt] %>
				<% orders_hash = @rakuten.new_orders_hash %>
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<h5 class="border-top pt-1">熨斗</h5>
						<% orders_hash.each do |order| %>
							<% sender_name = order[:sender]['familyName'] + ' ' + order[:sender]['firstName'] %>
							<% if order[:noshi] %>
								<%= link_to (sender_name + ' <i class="fas fa-external-link-alt"></i>').html_safe, new_noshi_with_params_path(namae: order[:sender]['familyName'], ntype: '13'), target: '_blank' %>
								<br>
							<% end %>
						<% end %>
					</div>
					<div class="col-lg-6 col-md-12">
						<h5 class="border-top pt-1">領収書</h5>
						<% orders_hash.reverse.each_with_index do |order, i| %>
							<% remarks = order[:remarks].scan(/(?<=\[メッセージ添付希望・他ご意見、ご要望がありましたらこちらまで:\]).*/m).first %>
							<% sender_name = order[:sender]['familyName'] + ' ' + order[:sender]['firstName'] %>
							<% if order[:reciept] || remarks.include?('領収') %>
								<%= link_to (sender_name + ' <i class="fas fa-level-down-alt"></i>').html_safe, insert_receipt_data_path(rakuten: @rakuten, order_id: i, oysis: true), remote: true %>
								<br>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	<div class="card-footer">
		<small class="text-muted float-left">(<%= @rakuten.updated_at.in_time_zone('Tokyo') %>)に更新された</small>
		<div class="btn-group float-right d-print-none" role="group" aria-label="Basic">
			<%= link_to ('<i class="fas fa-chevron-circle-left"></i>').html_safe, load_rakuten_order_path(@rakuten.r_manifest_query.previous.id), :alt => "前", class: 'btn btn-sm btn-secondary', remote: true %>
			<%= link_to ('<i class="fas fa-chevron-circle-right"></i>').html_safe, load_rakuten_order_path(@rakuten.r_manifest_query.next.id), :alt => "次", class: 'btn btn-sm btn-secondary', remote: true %>
		</div>
	</div>
</div>