<%= javascript_pack_tag 'partials', 'data-turbolinks-track': 'reload' %>

<div class="card m-0 p-0 border-white">
	<div class="card-header p-1 mb-1,b,mnbm,nbn">
		<div class="row">
			<div class="col-lg-6 col-md-12 text-center d-table-cell align-middle mb-1">
				<h4 class="mb-0 mt-1 card-title"><%= to_nengapiyoubi(@yahoo_date) %></h4>
			</div>
			<div class="col-lg-6 col-md-12 text-center d-table-cell align-middle mb-1">
				<div class="btn-group">
					<% if @new_yahoo_orders %>
						<button type="button" class="btn btn-sm btn-info tippy" data-toggle="modal" data-target="#yahoo_shinki_modal" data-tippy-content="<center>ヤフー新規注文</center>">
							<%= icon("asterisk") %><span class="badge badge-warning ml-1"><%= @new_yahoo_orders.length %></span>
						</button>
					<% end %>
					<%= link_to icon("card-list"), yahoo_orders_path(date: @yahoo_date), :alt => "個別ページ", class: 'btn btn-info tippy', "data-tippy-content" => "<center>#{to_nengapi(@yahoo_date)}の<br>個別ページ</center>", 'data-turbolinks' => "false" %>
					<%= link_to icon("arrow-counterclockwise", class: "text-success"), refresh_yahoo_path, :alt => "ヤフーから<br>データを取込み", class: 'btn btn-info tippy', "data-tippy-content" => "<center>ヤフーからデータを<br>取込み</center>" %>
					<%= link_to icon("file-earmark-arrow-down"), yahoo_shipping_list_path(ship_date: @yahoo_date.strftime("%Y-%m-%d")), class: 'btn btn-info tippy', remote: true, "data-tippy-content" => "<center>#{to_nengapi(@yahoo_date)}の<br>出荷表PDFを開く</center>", 'data-turbolinks' => "false" %>
				</div>
			</div>
		</div>
	</div>

	<div class="card-text text-center">
		<% if @yahoo_orders.length > 0 %>
			<div class="card p-2">
				<% counts = yahoo_order_counts(@yahoo_orders) %>
				<div class="row align-items-center text-center m-1 mb-2">
					<% unless counts[:values][0].zero? %>
						<div class="col-lg-3 col-6 mb-2">
							<h6 class="font-weight-bolder p-2"><%= counts[:headers][0] %></h6>
							<span class="btn btn-sm btn-primary"><%= "#{counts[:values][0]}p" %></span>
						</div>
					<% end %>
					<% unless counts[:values][1].zero? %>
						<div class="col-lg-3 col-6 mb-2"></h6>
							<h6 class="font-weight-bolder p-2"><%= counts[:headers][1] %><br><small>(カード/ナイフ)</small></h6>
							<span class="btn btn-sm btn-primary"><%= "#{counts[:values][1]}個" %><%= " (#{counts[:cards]}枚/#{yahoo_knife_counts(@yahoo_orders)}個)" unless counts[:cards].zero? %></span>
						</div>
					<% end %>
					<% unless counts[:values][2].zero? %>
						<div class="col-lg-3 col-6 mb-2">
							<h6 class="font-weight-bolder p-2"><%= counts[:headers][2] %></h6>
							<span class="btn btn-sm btn-primary"><%= "#{counts[:values][2]}kg" %></span>
						</div>
					<% end %>
					<% unless counts[:values][3].zero? %>
						<div class="col-lg-3 col-6 mb-2">
							<h6 class="font-weight-bolder p-2"><%= counts[:headers][3] %></h6>
							<span class="btn btn-sm btn-primary"><%= "#{counts[:values][3]}p"%></span>
						</div>
					<% end %>
					<% unless counts[:values][4].zero? %>
						<div class="col-lg-3 col-6 mb-2">
							<h6 class="font-weight-bolder p-2"><%= counts[:headers][4] %></h6>
							<span class="btn btn-sm btn-primary"><%= "#{counts[:values][4]}個"%></span>
						</div>
					<% end %>
					<% unless counts[:values][5].zero? %>
						<div class="col-lg-3 col-6 mb-2">
							<h6 class="font-weight-bolder p-2"><%= counts[:headers][5] %></h6>
							<span class="btn btn-sm btn-primary"><%= "#{counts[:values][5]}件"%><%= " (#{counts[:anago]}g)"%></span>
						</div>
					<% end %>
					<% unless (counts[:values][6].zero? || counts[:values][7].zero?) %>
						<div class="col-lg-3 col-6 mb-2">
							<h6 class="font-weight-bolder p-2">干し海老80g<br><small>（むき身/殻付き）</small></h6>
							<span class="btn btn-sm btn-primary"><%= "#{counts[:values][6]}p "%> <%= "#{counts[:values][7]}p" %></span>
						</div>
					<% end %>
					<% unless counts[:values][8].zero? %>
						<div class="col-lg-3 col-6 mb-2">
							<h6 class="font-weight-bolder p-2"><%= counts[:headers][8] %></h6>
							<span class="btn btn-sm btn-primary"><%= "#{counts[:values][8]}件" %></span>
						</div>
					<% end %>
				</div>
			</div>
		<% else %>
			<div class="m-3">
				ヤフーショッピング発送なし
			</div>
		<% end %>
	</div>
	
	<div class="card-footer bg-white d-table-cell align-middle">
		<small class="text-muted">
			<%= "#{to_nengapijibun(@yahoo_orders.last.updated_at)}時点" unless @yahoo_orders.empty? %>
		</small>
		<div class="btn-group float-right" role="group" aria-label="Basic">
			<%= link_to icon("arrow-left-circle"), load_yahoo_orders_path(@yahoo_date - 1.day), :alt => "前", class: 'btn btn-sm btn-secondary tippy load', 'data-target' => '#yahoo_partial', remote: true, "data-tippy-content" => "<center>#{to_nengapi(@yahoo_date - 1.day)}の<br>データを見る</center>"  %>
			<%= link_to icon("arrow-right-circle"), load_yahoo_orders_path(@yahoo_date + 1.day), :alt => "次", class: 'btn btn-sm btn-secondary tippy load', 'data-target' => '#yahoo_partial', remote: true, "data-tippy-content" => "<center>#{to_nengapi(@yahoo_date + 1.day)}の<br>データを見る</center>" %>
		</div>
	</div>
</div>
