<div id="index" class="container-fluid">
	<div class="card-columns">

		<% if current_user.vip? || current_user.admin? || current_user.employee? %>
		
			<div class="card border-dark mb-2" style="min-height: 300px;">
				<div class="card-header bg-dark text-white">
					<span class="mb-0 float-left">楽天市場</span>
					<span>&nbsp</span>
					<span class="mb-0 float-right"><%= icon("calendar-check") %></span>
				</div>
				<div class="card-body m-0 p-0">
					<div id="rakuten_partial">
						<%= render 'rakuten_orders', locals: {rakuten: @rakuten, order: @order_id, rakuten_shinki: @rakuten_shinki} %>
					</div>
				</div>
			</div>

			<div class="card border-dark mb-2" style="min-height: 300px;">
				<div class="card-header bg-dark text-white">
					<span class="mb-0 float-left">InfoMart / Funabiki.info</span>
					<span>&nbsp</span>
					<span class="mb-0 float-right"><%= icon("calendar-check") %></span>
				</div>
				<div class="card-body m-0 p-0">
					<div id="tsuhan_partial">
						<%= render_async 'online_orders', locals: {tsuhan: @online_orders} do %>
							<div class="d-flex justify-content-center my-3 py-3">
								<div class="spinner-border spinner-border-sm" role="status">
									<span class="sr-only">読み込み中...</span>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>

			<div class="card border-dark mb-2">
				<div class="card-header bg-dark text-white">
					<span class="mb-0 float-left">
						セルカード
					</span>
					<span>&nbsp</span>
					<span class="mb-0 float-right"><%= icon("card-heading") %></span>
				</div>
				<div class="card-body text-center">
					<%= render_async 'daily_expiration_cards' do %>
						<div class="d-flex justify-content-center my-3 py-3">
							<div class="spinner-border spinner-border-sm" role="status">
								<span class="sr-only">読み込み中...</span>
							</div>
						</div>
					<% end %>
				</div>
			</div>

			<div class="card border-dark mb-2">
				<div class="card-header bg-dark text-white">
					<span class="mb-0 float-left">
						領収証
					</span>
					<span>&nbsp</span>
					<span class="mb-0 float-right"><%= icon("receipt") %></span>
				</div>
				<div class="card-body text-center m-0 p-2">
					<div id="receipt_partial">
						<%= render 'receipt', remote: true, locals: {rakuten: @rakuten, order: @order_id}, cached: true %>
					</div>
				</div>
			</div>

			<div class="card border-dark mb-2" style="min-height: 300px;">
				<div class="card-header bg-dark text-white">
					<span class="mb-0 float-left">Yahoo!ショッピング</span>
					<span>&nbsp</span>
					<span class="mb-0 float-right"><%= icon("calendar-check") %></span>
				</div>
				<div class="card-body m-0 p-0">
					<div id="yahoo_partial">
						<%= render_async 'yahoo_orders_partial', locals: {yahoo_orders: @yahoo_orders, yahoo_date: @yahoo_date} do %>
							<div class="d-flex justify-content-center my-3 py-3">
								<div class="spinner-border spinner-border-sm" role="status">
									<span class="sr-only">読み込み中...</span>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>

		<% end %>

		<% if current_user.admin? %>
		
			<div class="card border-dark mb-2">
				<div class="card-header bg-dark text-white">
					<span class="mb-0 float-left">現在の売上状態</span>
					<span>&nbsp</span>
					<span class="mb-0 float-right"><%= icon("building") %></span>
				</div>
				<div class="card-body m-0 p-0">
					<%= render 'charts', locals: {chart_params: @chart_params}, cached: true %>
				</div>

			</div>
			
		<% end %>
		
		<% if current_user.supplier? %>
			
			<div class="card border-dark mb-2">
				<div class="card-header bg-dark text-white">
					<span class="mb-0 float-left">生産者パネル</span>
					<span>&nbsp</span>
					<span class="mb-0 float-right"><%= icon("calendar-date-fill") %></span>
				</div>
				<div class="card-body scroll">
					このパネルはまだ工事中です。
				</div>
			</div>

		<% end %>

		<div class="card border-dark mb-2">
			<div class="card-header bg-dark text-white">
				<span class="mb-0 float-left">
					通販印刷物
				</span>
				<span>&nbsp</span>
				<span class="mb-0 float-right"><%= icon("printer") %></span>
			</div>
			<div class="card-body text-center">
				<%= render 'printables', cached: true %>
			</div>
		</div>
		
		<% if current_user.admin? %>
			
			<div class="card border-dark mb-2">
				<div class="card-header bg-dark text-white">
					<span class="mb-0 float-left">
						ユーザー管理パネル
					</span>
					<span>&nbsp</span>
					<span class="mb-0 float-right"><%= icon("people-fill") %></span>
				</div>
				<div class="card-body" id="usercontrol">
					<%= render 'usercontrol', cached: true %>
				</div>
			</div>

		<% end %>

		<!--
		<div class="card mb-3 grid-item">
			<div class="card-header bg-dark text-white">
				<span class="mb-0 float-left">冷凍データ・在庫管理</span>
				<span><%# icon("thermometer", class: "float-right") %></span>
			</div>
			<div class="card-body scroll">
				<%# render 'frozen_data' %>
			</div>
		</div>
		-->

	</div>
</div>