<script type="text/javascript">
	<%= render partial: 'edit_profit_partial', formats: [:js] %>
</script>

<% if @profit.id %>
	<% @previous = @profit.profit_query.previous %>
	<% @two_previous = @previous.profit_query.previous %>
<% end %>
<%= simple_form_for @profit, :remote => true do |form| %>
<%# https://stackoverflow.com/a/41069886/6759431 %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<div class="card" id="market_card" data-mjs-number="<%= market.mjsnumber %>">
	<div class="card-header">
		<span class="float-left">
			<%= market.namae %>
			<% if market.brokerage %>
				<i class="fas fa-shopping-cart brokerage_icon"></i>
			<% end %>
		</span>
		<span class="float-right text-muted">
			MJS 番後： <%= market.mjsnumber %>
		</span>
	</div>
	<div class="figures_form">
		<div class="container-flex">
			<div class="row card-body p-2">
			<% types_hashes %>
				<%= form.simple_fields_for :figures, :defaults => { :input_html => { :class => "floatTextBox" }}, remote: true do |figures_form| %>
					<% market.products.order(:namae).each do |product_by_market| %>
						<% selected_product_type_hash = @types_hash.select { |k,v| v == product_by_market.product_type } %>
						<% t = selected_product_type_hash.keys.to_s.tr('[]""', '') %>
						<% base = t.to_s + "[" + product_by_market.id.to_s + "][" + market.id.to_s + "]" %>
							<div class="col-md-12 col-lg-6 col-xl-4">
								<small>
									<div class="form-row container">
										<div class="row value_input_row">
											<div class="col-6 p_namae">
												<%= link_to product_by_market.namae.tr('()[]{}', ''), insert_product_data_path(id: product_by_market.id), remote: true, class: 'tippy', 'data-toggle' => 'modal', 'data-target' => '#productModal', "data-tippy-content" => "中値：#{product_by_market.average_price.to_i}<br>量：#{product_by_market.grams}ｇ/p" %>
											</div>
											<div class="col-3 p_market_ordercount">
													<% !@profit.figures.nil? ? (order_count = @profit.figures.dig(t.to_i, product_by_market.id, market.id, :order_count)) : (order_count = nil) %>
												<% if !order_count.nil? && !order_count.zero? %>
													<%= figures_form.input base + "[order_count]", :placeholder => '売り数', 'type' => "number", label: false, :class => "floatTextBox", :input_html => { :value => order_count } %>
												<% else %>
													<%= figures_form.input base + "[order_count]", :placeholder => '売り数', 'type' => "number", label: false, :class => "floatTextBox" %>
												<% end %>
											</div>
											<% if product_by_market.profitable %>
												<div class="col-3 p_market_unitcost " data-average-price="<%= product_by_market.average_price.to_i %>">
													<% !@profit.figures.nil? ? (unit_price = @profit.figures.dig(t.to_i, product_by_market.id, market.id, :unit_price)) : (unit_price = nil) %>
													<% if !unit_price.nil? && !unit_price.zero? %>
														<%= figures_form.input base + "[unit_price", :placeholder => '単価', 'type' => "number", label: false, :class => "floatTextBox", :input_html => { :value => unit_price } %>
													<% else %>
														<%= figures_form.input base + "[unit_price", :placeholder => '単価', 'type' => "number", label: false, :class => "floatTextBox" %>
													<% end %>
													<div class="special_check_box">
														<%# Check that figures isn't nil (this is only for a new entry) %>
														<% if !@profit.figures.nil? %>
															<%# Check that there is not already options for this product (this would only occur if the count or price is filled out) %>
															<% if profit.figures.dig(t.to_i, product_by_market.id, market.id, :combined) %>
																<% combined = !@profit.figures[t.to_i][product_by_market.id][market.id][:combined].zero? %>
															<%# If there isn't already a figure for this and this isn't a new entry, check the last profit entry for values %>
															<% else %>
																<% if !@previous.figures.dig(t.to_i, product_by_market.id, market.id, :combined).nil?
																	combined = !@previous.figures[t.to_i][product_by_market.id][market.id][:combined].zero?
																elsif !@two_previous.figures.dig(t.to_i, product_by_market.id, market.id, :combined).nil?
																	combined = !@two_previous.figures[t.to_i][product_by_market.id][market.id][:combined].zero?
																else
																	combined = false
																end %>
															<% end %>
																<%= figures_form.check_box base + "[combined]", checked: combined, :class => 'awase_check_box', label: false %>
															<%# Repeat for extras %>
															<% if profit.figures.dig(t.to_i, product_by_market.id, market.id, :extra_cost) %>
																<% extra_cost = !@profit.figures[t.to_i][product_by_market.id][market.id][:extra_cost].zero? %>
															<% else %>
																<% if !@previous.figures.dig(t.to_i, product_by_market.id, market.id, :extra_cost).nil?
																	extra_cost = !@previous.figures[t.to_i][product_by_market.id][market.id][:extra_cost].zero?
																elsif !@two_previous.figures.dig(t.to_i, product_by_market.id, market.id, :extra_cost).nil?
																	extra_cost = !@two_previous.figures[t.to_i][product_by_market.id][market.id][:extra_cost].zero?
																else
																	extra_cost = false
																end %>
															<% end %>
																<%= figures_form.check_box base + "[extra_cost]", checked: extra_cost,  :class => 'extra_cost_check_box', label: false %><br>
															<%= icon("box-seam", 'data-toggle': "tooltip", 'data-placement': "bottom", 'data-html': "true", 'title': "<em>合わせで、送料なし</em>") %>
															<%= icon("patch-plus-fill", 'data-toggle': "tooltip", 'data-placement': "bottom", 'data-html': "true", 'title': "<em>特別経費：<br>#{market.optional_cost_description}</em>") %>
														<% end %>
													</div>
												</div>
											<% end %>
										</div>
									</div>
								</small>
							</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>
