<% title "Funabiki Online - 計算表作成" %>

<div class="modal fade" id="newProfitModal" tabindex="-1" aria-labelledby="newProfitModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newProfitModalLabel">新しい計算書の日付</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="new_profit_calendar"></div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ProfitModal" tabindex="-1" aria-labelledby="ProfitModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ProfitModalLabel">計算書の選択カレンダー</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="profit_calendar"></div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="volumesModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="volumesModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div id="volume_partial">
				<%= render 'volumes', locals: {profit: @profit} %>
			</div>
		</div>
	</div>
</div>

<div class="container-flex profit_container">
	<div class="row align-middle m-3">
		<div class="col clearfix">
			<div class="btn-group float-right" role="group" aria-label="Basic">
				<span class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="牡蠣の量予算" data-trigger="hover">
					<%= link_to icon('bar-chart-line'), fetch_volumes_path(@profit.id), class: "text-primary", "data-toggle" => "modal", "data-target" => "#volumesModal", remote: true %>
				</span>
				<span class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="計算表を追加" data-trigger="hover">
					<button id="newProfitModalButton" type="button" class="btn btn-info m-0 p-0" data-toggle="modal" data-target="#newProfitModal">
							<%= icon('plus-circle-fill', class: 'text-success') %>
					</button>
				</span>
				<span class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="計算表をカレンダーで調べる" data-trigger="hover">
					<button id="ProfitModalButton" type="button" class="btn btn-info m-0 p-0" data-toggle="modal" data-target="#ProfitModal">
							<%= icon('calendar3', class: 'text-white') %>
					</button>
				</span>
				<span class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="計算表トップへ">
					<%= link_to icon('arrow-90deg-up', class: 'text-white'), profits_path %>
				</span>
			</div>
		<hr/>
	<div id="profit_form" class="profit_form clearfix">
	

		<div class="row">

			<div class="col-lg-3 col-md-12">
				<%= simple_form_for @profit do |form| %>
				<% if @profit.errors.any? %>
				<div class="container small">
					<div class="alert alert-warning alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<h5 class="text-danger">
							<%= pluralize(@profit.errors.count, "error") %> prohibited this profit from being saved:
						</h5>
						<ul>
							<% @profit.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				</div>
				<% end %>

				<div class="row mb-2">
					<div class="col-sm-12">
						<div class="card mb-2">
							<span class="card-header">
								<b><%= form.label :sales_date, '計算日' %></b>
							</span>
							<div class="card-body">
								<div class="input-group sales_date">
									<div class="input-group-prepend lg-prepend-fix">
										<div class="input-group-text">
											<%= icon("calendar-event") %>
										</div>
									</div>
									<%= form.text_field :sales_date, 'data-behaviour' => 'datepicker', class: "form-control form-control-lg datepicker mb-2" %>
								</div>
							</div>
						</div>
					</div>
					<% if @profit.check_completion[0] != 0 %>
						<div class="col-sm-12">
							<div class="card mt-2">
								<a class="card-header" data-toggle="collapse" href="#unfinished" role="button" aria-expanded="false" aria-controls="unfinished"><b>入力されていない市場</b></a>
								<span class="card-body small collapse" id="unfinished">
									<% @profit.check_completion.sort.each do |mjsnumber, unfinished_products| %>
										<% if mjsnumber != 0 %>
											<% market = Market.find_by(mjsnumber: mjsnumber) %>
											<a class="btn btn-sm <%= profit_nav_font_color(market.color).to_s %>" style="background-color: <%= market.color %>;">
												<%= market.nick %>
											</a>
											<br>
												<% unfinished_products.each do |product_id| %>
													→<%= Product.find(product_id).namae %><br>
												<% end %>
												<br>
											<% end %>
									<% end %>
								</span>
							</div>
						</div>
					<% end %>
					<div class="col-sm-12">
						<div class="card mt-2 text-center">
							<span class="card-header">
								<% form.hidden_field :id, value: @profit.id %>
								<%= form.submit '計算', :class => 'btn btn-secondary w-100' %>
							</span>
						</div>
					</div>
				</div>
				<% end %>
			</div>

			<div class="col-lg-9 col-md-12">
				<nav>
					<div class="nav nav-pills d-flex m-3" id="market-pills" role="tablist">
						<% @markets.each_with_index do |market, i| %>
							<%= link_to market.nick, fetch_market_path(:market_id => market.id, profit: @profit), :remote => 'true', :id => 'navBtn' + market.id.to_s, :class => 'd-flex flex-grow-1 align-content-center text-center nav-item nav-link ' + active(i).to_s + profit_nav_font_color(market.color).to_s, "data-toggle" => "pill", "role" => "tab", "style" => "background-color: " + market.color.to_s + ";" %>
						<% end %>
					</div>
				</nav>

				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-partial" role="tabpanel">
						<div id="partial">
							<%= render :partial => 'edit_partial_form', locals: { market: @market, profit: @profit }, :remote => 'true', cached: true %>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<hr/>

	</div>
	</div>
</div>