<div id="m_<%= @message.id %>" class="card m-1 <%= @message.border %> animate__animated animate__flipInX">
	<div class="card-header p-1">
		<span class="float-left pl-2">
			<%= print_model(@message.model) %>
		</span>
		<span class="float-right">
			<% if @message.status == :processing %>
				<div class="spinner-border spinner-border-sm text-warning mb-1" role="status">
					<span class="sr-only">処理中…</span>
				</div>
			<% elsif @message.status == :completed %>
				<%= icon('check2', class: 'text-success') %>
			<% else %>
				<%= icon('exclamation-diamond', class: 'text-danger') %>
			<% end %>
		</span>
	</div>
	<div class="card-body">
		<p class="card-text small">
			<%= @message.message %>
		</p>
		<% unless @message.data.empty? %>
			<%= print_message_data(@message) %>
		<% end %>
	</div>
	<div class="card-footer p-1 small text-muted">
		<div class="float-left pl-2">
			<%= @message.updated_at %>
		</div>
		<div class="float-right">
			<%= link_to icon("trash-fill", class: "text-danger"), @message, :alt => "取り消す", method: :delete, remote: true, data: { confirm: '削除してもいい?' }, class: 'btn btn-sm btn-light p-0' %>
		</div>
	</div>
</div>