<script>
	tippy('.tippy', {
		allowHTML: true, 
		animation: 'scale', 
		duration: [300,0] 
	});
</script>

<div class="row m-1">
	<div class="col-12 p-2 my-1">
		<div class="row">
			<div class="col-3">
				<strong>商品名</strong>
			</div>
			<div class="col-6">
				<div class="row text-center small">
					<div class="col-4">
						グラム数見当
					</div>
					<div class="col-4">
						箱入り数 × 箱合わせ数
					</div>
					<div class="col-4">
						商品の経費合
					</div>
				</div>
			</div>
			<div class="col-3 text-right">
				商品明細・修正
			</div>
		</div>
	</div>
	<% products_by_type[@type].drop(1).each do |product_id| %>
	<% product = get_product(product_id) %>
		<div class="col-12 card p-1 my-1 bg-light">
			<div class="row">
				<div class="col-3">
					<strong><%= product.namae %></strong>
				</div>
				<div class="col-6">
					<div class="row text-center">
						<div class="col-4">
							<%= product.grams %>
						</div>
						<div class="col-4">
							<%= product.count %> × <%= product.multiplier %>
						</div>
						<div class="col-4">
							<%= product.cost %>
						</div>
					</div>
				</div>
				<div class="col-3 text-right">
					<div class="btn-group" role="group">
						<%= link_to icon("card-list"), product, class: 'btn btn-sm btn-info tippy', "data-tippy-content" => '商品個別ページ' %>
						<% if current_user.admin? %>
							<%= link_to icon("pencil-square", class: "text-success"), insert_product_data_path(id: product.id), remote: true, class: 'btn btn-sm btn-info tippy', 'data-toggle' => 'modal', 'data-target' => '#productModal', "data-tippy-content" => '商品修正' %>
							<%= link_to icon("trash-fill", class: "text-danger"), product, method: :delete, data: { confirm: '削除確認' }, class: 'btn btn-sm btn-info tippy', "data-tippy-content" => '商品削除' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>	
