<script>
	tippy('.tippy', {
		allowHTML: true, 
		animation: 'scale', 
		duration: [300,0] 
	});
</script>
<script>
	$( document ).ready(function() {
		$('#save_as_btn').attr('disabled', 'disabled');
	});
	$("#product_partial #product_namae").on( "keyup", function() {
		if ($(this).val() === $(this).attr('data-original-name')) {
			$('#save_as_btn').attr('disabled', 'disabled');
		} else {
			$('#save_as_btn').prop("disabled", false);
		}
	});
	$('#load_product_type_select').on('change', function (e) {
		// var optionSelected = $("option:selected", this);
		var valueSelected = this.value;
		$.ajax({
			type: "GET",
			url: '/insert_select_products_by_type/' + valueSelected,
		});
	});
	$('#load_product_select').on('change', function (e) {
		// var optionSelected = $("option:selected", this);
		var valueSelected = this.value;
		console.log(valueSelected)
		$.ajax({
			type: "GET",
			url: '/insert_product_selected_button/' + valueSelected,
		});
	});
</script>
<%= simple_form_for @product do |form| %>
	<% if @product.errors.any? %>
		<div class="container small">
			<div class="alert-warning alert-dismissible">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<h5 class="text-danger">
						エラーありましたので保存失敗されました。:
					</h5>
					<ul>
						<% @product.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
			</div>
		</div>
	<% end %>
	<div class="card container">
		<div class="card-body row">
			<div class="col-lg-4 col-sm-12">
				<div class="row">
					<%= form.label :namae, '商品名', class: 'w-25 float-left' %>
					<%= form.text_field :namae, class: "form-control mb-2 w-75 float-right", "data-original-name" => @product.namae, label: false %>
				</div>

				<div class="row">
					<%= form.label :product_type, '商品類', class: 'w-25 float-left' %>
					<%= form.input :product_type, collection: product_types_for_select, value_method: :first, label: false, wrapper: false, input_html: { class: 'form-control mb-2 w-75 float-right' } %>
				</div>

				<div class="row">
					<%= form.label :cost, 'コスト', class: 'w-25 float-left' %>
					<%= form.text_field :cost, class: "form-control form-control-sm mb-2 floatTextBox w-75 float-right" %>
				</div>

				<div class="row">
					<%= form.label :extra_expense, '他のコスト', class: 'w-25 float-left' %>
					<%= form.text_field :extra_expense, class: "form-control form-control-sm mb-2 floatTextBox w-75 float-right" %>
				</div>

				<div class="row">
					<%= form.label :profitable, ('利益あり?').html_safe, class: 'w-25 float-left tippy', "data-tippy-content" => '（いいえ = 経費計算のみになります）' %>
					<div class="w-75 float-right pl-4">
						<%= form.input :profitable, as: :radio_buttons, label: '', collection: [ [false, 'いいえ'], [true, 'はい']], label_method: :second, value_method: :first, selected: true, wrapper: false, item_wrapper_class: 'w-50 float-right' %>
					</div>
				</div>
			</div>

			<div class="col-lg-8 col-sm-12">
				<div class="card mb-2">
					<div class="card-header">
						別の商品を開く
					</div>
					<div class="card-body form-inline">
						<div class="form-group mx-auto mb-2">
							<%= select_tag '商品類', options_for_select(product_types_for_copy_select), id: 'load_product_type_select', class: 'form-control mr-2' %>
							<%= select_tag '商品', options_for_select(product_collection("1")), id: 'load_product_select', class: 'form-control mr-2' %>
						</div>
						<%= link_to 'ここに開く', insert_product_data_path(id: product_collection("1").first[1]), id: 'load_product_button', class: 'btn btn-primary m-auto', remote: true %>
					</div>
				</div>
				<div class="row mt-2 small">
					<div class="col-lg-4 col-sm-12">
						<%= form.label :grams, 'グラム数' %>
						<%= form.text_field :grams, class: "form-control form-control-sm mb-2 floatTextBox" %>
					</div>

					<div class="col-lg-4 col-sm-12">
						<%= form.label :count, '基準箱入り数' %>
						<%= form.text_field :count, class: "form-control form-control-sm mb-2 uintTextBox" %>
					</div>

					<div class="col-lg-4 col-sm-12">
						<%= form.label :multiplier, '基本箱の合わせ（数）' %>
						<%= form.text_field :multiplier, class: "form-control form-control-sm mb-2 uintTextBox" %>
					</div>
				</div>
			</div>

				
<!-- 					<div class="col-lg-4 col-md-6 col-sm-12 mb-1">
					<div class="card text-center">
						<div class="card-header">
							<%= form.label :associated, ('外部システムの関連あり？').html_safe %>
						</div>
						<div class="card-text">
							<%= form.input :associated, as: :radio_buttons, label: '', collection: [[true, 'はい'], [false, 'いいえ']], label_method: :second, value_method: :first, selected: false, :item_wrapper_class => 'custom-control custom-radio custom-control-inline' %>
						</div>
					</div>
				</div> -->

		</div>
	</div>
	<hr/>

	<a data-toggle="collapse" href="#materials_collapse" role="button" aria-expanded="false" aria-controls="materials_collapse">
		<%= form.label :materials, '材料選択・経費見積計算', class: 'text-left h5 mb-3' %>
	</a>
	<div id="materials_collapse" class="card-columns collapse">
		<% materials_by_type.each do |material_type_id, material_hash| %>
			<div class="card text-left">
				<div class="card-header">
				<strong><%= material_hash[:type_name] %></strong>
				</div>
				<div class="card-body">
					<ul class="material_list">
					<% material_hash[:material_ids].each do |material_id| %>
						<li>
						<% current_record = get_material_by_id(material_id) %>
						<%= check_box_tag "product[material_ids][]", material_id, @product.materials.include?(current_record) %>　
						<%= link_to ((current_record.namae.to_s + ' | <strong>' + (current_record.cost * current_record.divisor).round(1).to_s) + is_per_product(current_record) + '</strong> ' + icon("box-arrow-in-up-right")).html_safe, material_path(current_record), 'data-tippy-content' => ( current_record.cost.to_s + ' * ' + current_record.divisor.to_s), class: 'small tippy', :target => '_blank' %><br />
						</li>
					<% end %>
					</ul>
				</div>
			</div>
		<% end %>
	</div>
	<hr/>

	<a data-toggle="collapse" href="#markets_collapse" role="button" aria-expanded="false" aria-controls="markets_collapse">
		<%= form.label :markets, '関連市場選択', class: 'text-left h5 mb-3' %>
	</a>
	<div id="markets_collapse" class="card container collapse">
		<div class="card-body row">
		<% i = 0 %>
		<% total_markets = get_markets.count %>
		<% for market in get_markets %>
			<% if i == 0 %>
				<div class="col-lg-2 col-md-4 col-sm-12">
			<% end %>
			<% if i % 10 == 0 && i > 0%>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
			<% end %>
			<%= check_box_tag "product[market_ids][]", market.id, @product.markets.include?(market) %>　
			<%= link_to (market.nick.to_s + '　<i class="fas fa-external-link-alt fa-xs"></i>').html_safe, market_path(market.id), 'data-toggle' => 'tooltip', 'data-html' => 'true', :title => market.namae.to_s, :target => '_blank', class: 'product_relation_selection_link' %><br />
			<% if total_markets == (i + 1) %>
				</div>
			<% end %>
			<% i += 1 %>
		<% end %>
		</div>
	</div>
	<hr/>
	<%= form.submit '保存', :class => 'btn btn-success', remote: true %>
	<%= form.submit '名前を付けて保存', id: 'save_as_btn', class: "btn btn-success#{' tippy' if @product.id.nil?}", disabled: @product.id.nil?, "data-tippy-content" => "新しい商品を作成中", name: 'save_as', remote: true %>

<% end %>
